@using AppData.Models
@model AppData.ViewModels.BanOffline.ChiTietHoaDonQL

@{

}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#thongtin" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
    </li>
    @if (Model.LoaiHD == 0)
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#ttgh" type="button" role="tab" aria-selected="false" tabindex="-1">Thông tin giao hàng</button>
        </li>
    }
    @if (Model.KhachHang != "Khách lẻ")
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#lstd" type="button" role="tab" aria-selected="false" tabindex="-1">Lịch sử điểm</button>
        </li>
    }
</ul>
<div class="tab-content pt-2" id="myTabjustifiedContent">
    <!--Thông tin-->
    <div class="tab-pane fade p-3 show active" id="thongtin" role="tabpanel" aria-labelledby="home-tab">
        <div class="row row-padding-15 row-flex">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <label class="col-sm-5 col-form-label">Mã hóa đơn:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label"><strong>@Model.MaHD</strong></label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Ngày tạo:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.NgayTao.ToString("dd/MM/yyyy HH:mm")</label>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-5 col-form-label">Khách hàng:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label text-primary">@Model.KhachHang</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Thanh toán:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.PTTT</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <label class="col-sm-5 col-form-label">Trạng thái:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label text-primary">
                            @{
                                @(Model.TrangThai == 2 ? "Chờ xác nhận" :
                            (Model.TrangThai == 10 ? "Đang đóng hàng" :
                            (Model.TrangThai == 3 ? "Đang giao hàng" :
                            (Model.TrangThai == 4 ? "Đang hoàn hàng" :
                            (Model.TrangThai == 5 ? "Hoàn hàng thành công" :
                            (Model.TrangThai == 6 ? "Thành công" :
                            (Model.TrangThai == 7 ? "Đơn hủy" :
                            (Model.TrangThai == 8 ? "Chờ xác nhận hủy" : "Chờ xác nhận hoàn hàng"))))))))
                            }
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Ngày thanh toán:</label>
                    <div class="col-sm-7">
                        @if (@Model.NgayThanhToan == null)
                        {
                            <label class="col-form-label">Chưa thanh toán</label>
                        }
                        else
                        {
                            <label class="col-form-label">@Model.NgayThanhToan?.ToString("dd/MM/yyyy HH:mm")</label>
                        }
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Nhân viên:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.NhanVien</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Kênh bán:</label>
                    <div class="col-sm-7">
                        @if (@Model.LoaiHD == 1)
                        {
                            <label class="col-form-label">Bán tại quầy</label>
                        }
                        else
                        {
                            <label class="col-form-label">Website</label>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label control-label">Ghi chú:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" style="height: 130px" id="ghiChuinTTHD">@Model.GhiChu</textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--Chi tiết hóa đơn-->
        <div class="d-flex mt-2">
            <table class="table table-bordered">
                <thead>
                    <tr style="background:#d9eafd">
                        <th scope="col">Mã hàng</th>
                        <th scope="col">Mặt hàng</th>
                        <th scope="col" class="text-end">Số lượng</th>
                        <th scope="col" class="text-end">Đơn giá</th>
                        <th scope="col" class="text-end">Giá bán</th>
                        <th scope="col" class="text-end">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listsp)
                    {
                        <tr>
                            <td class="text-primary">@item.MaCTSP</td>
                            <td>@item.Ten  /<span style="color:#f28322; font-size:14px">@item.PhanLoai</span></td>
                            <td class="text-end">@item.SoLuong</td>
                            <td class="text-end">@item.GiaGoc?.ToString("n0")</td>
                            <td class="text-end">@item.GiaLuu.ToString("n0")</td>
                            @{
                                var tt = item.SoLuong * item.GiaLuu;
                                <td class="text-end"><b>@tt.ToString("n0")</b></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Thanh Toán-->
        <div class="d-flex">
            @{
                int tienhang = @Model.listsp.Sum(c => c.SoLuong * c.GiaLuu);
                var voucher = 0;
                if (@Model.voucher != null)
                {
                    if (Model.voucher.HinhThucGiamGia == 0)
                    {
                        voucher = @Model.voucher.GiaTri;
                    }
                    else
                    {
                        voucher = (tienhang * Model.voucher.GiaTri / 100);
                    }
                }
                <div class="d-flex flex-column ms-auto" style="width:35%">
                    <div class="row  text-end">
                        <label class="col-sm-6 col-form-label">Tổng số lượng:</label>
                        <div class="col-sm-6">
                            <label class="col-sm-5 col-form-label">@Model.listsp.Sum(c=>c.SoLuong)</label>
                        </div>
                    </div>
                    <div class="row  text-end">
                        <label class="col-sm-6 col-form-label">Tổng tiền hàng:</label>
                        <div class="col-sm-6">
                            <label class="col-sm-5 col-form-label">@tienhang.ToString("n0")</label>
                        </div>
                    </div>
                    @if (@Model.lstlstd.Count != 0)
                    {
                        <div class="row  text-end">
                            <label class="col-sm-6 col-form-label">Trừ tiêu điểm:</label>
                            <div class="col-sm-6">
                                <label class="col-sm-5 col-form-label">@Model.TruTieuDiem?.ToString("n0")</label>
                            </div>
                        </div>
                    }

                    @if (@Model.voucher != null)
                    {
                        <div class="row  text-end">
                            <label class="col-sm-6 col-form-label">Voucher hóa đơn:</label>
                            <div class="col-sm-6">
                                <label class="col-sm-5 col-form-label">
                                    @voucher.ToString("n0")
                                </label>
                            </div>
                        </div>
                    }
                    @if (@Model.LoaiHD == 0)
                    {
                        <div class="row text-end">
                            <label class="col-sm-6 col-form-label">Phí vận chuyển</label>
                            <div class="col-sm-6">
                                <label class="col-sm-5 col-form-label">@Model.TienShip?.ToString("n0")</label>
                            </div>
                        </div>
                    }
                    <div class="row text-end">
                        <label class="col-sm-6 col-form-label">Tổng cộng:</label>
                        <div class="col-sm-6 ">
                            @{
                                var tongcong = Model.listsp.Sum(c => c.SoLuong * c.GiaLuu) + Model.TienShip - @voucher - Model.TruTieuDiem;
                                <label class="col-sm-5 col-form-label">
                                    <b>
                                        @tongcong?.ToString("n0")
                                    </b>
                                </label>
                            }
                        </div>
                    </div>
                    <div class="row text-end">
                        <label class="col-sm-6 col-form-label">Khách đã đưa:</label>
                        <div class="col-sm-6 ">
                            <label class="col-sm-5 col-form-label"><b>@Model.TienKhachTra?.ToString("n0")</b></label>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="d-flex flex-row justify-content-end">
            @if (@Model.TrangThai == 6 && @Model.TrangThai != 9 && @Model.LoaiHD == 0)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="hoanHang('@Model.Id')" class="btn btn-danger fw-normal text-white"><i class="bi bi-reply-all-fill me-2" style="color: #ffffff;"></i> Hoàn hàng</button>
                </div>
            }
            @if (@Model.TrangThai == 2)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="DoiTrangThai('10')" class="btn btn-primary fw-normal text-white"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i> Xác nhận hóa đơn</button>
                </div>
                <div class="d-flex p-2">
                    <button type="button" class="btn btn-dark fw-normal text-white" onclick="huyDon('@Model.Id')"><i class="fa-solid fa-trash fa-xs me-2" style="color: #ffffff;"></i>Hủy bỏ</button>
                </div>
            }
             @if (@Model.TrangThai == 10)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="DoiTrangThai('3')" class="btn btn-primary fw-normal text-white"><i class="bi bi-truck fa-xs me-2" style="color: #ffffff;"></i> Giao hàng</button>
                </div>
            }
            @if (@Model.TrangThai == 3)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="DoiTrangThai('6')" class="btn btn-primary fw-normal text-white"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i>Giao hàng thành công</button>
                </div>
            }
            @if (@Model.TrangThai == 4)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="hoanHangTC('@Model.Id')" class="btn btn-danger fw-normal text-white"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i>Hoàn hàng thành công</button>
                </div>
            }
            @if (@Model.TrangThai == 6 && @Model.LoaiHD == 1)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="hoanHang('@Model.Id')" class="btn btn-danger fw-normal text-white"><i class="bi bi-reply-all-fill me-2" style="color: #ffffff;"></i> Hoàn hàng</button>
                </div>
            }
            @if (@Model.TrangThai == 8)
            {
                <div class="d-flex p-2">
                    <button type="button" class="btn btn-secondary fw-normal text-white" onclick="huyDon('@Model.Id')"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i> Xác nhận hủy</button>
                </div>
                <div class="d-flex p-2">
                    <button type="button" onclick="DoiTrangThai('10')" class="btn btn-primary fw-normal text-white"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i> Xác nhận hóa đơn</button>
                </div>
            }
            @if (@Model.TrangThai == 9)
            {
                <div class="d-flex p-2">
                    <button type="button" onclick="hoanHang('@Model.Id')" class="btn btn-danger fw-normal text-white"><i class="fa-solid fa-check fa-xs me-2" style="color: #ffffff;"></i> Xác nhận hoàn hàng</button>
                </div>
            }
            <div class="d-flex p-2">
                <button type="button" id="save" class="btn btn-success fw-normal text-white"><i class="fa-solid fa-floppy-disk fa-xs me-2" style="color: #ffffff;"></i> Lưu ghi chú</button>
            </div>

            <div class="d-flex p-2">
                <button type="button" onclick="location.href='@Url.Action("CopyHD", "QuanLyHoaDon", new{idhd = @Model.Id})'" class="btn btn-success fw-normal text-white"><i class="ri-file-copy-line me-2"></i> Sao chép</button>
            </div>

            <div class="d-flex p-2">
                <button type="button" onclick="InHD('@Model.Id')" class="btn btn-secondary fw-normal text-white"><i class="ri-printer-line me-2"></i> In Hóa đơn</button>
            </div>
            <div class="d-flex p-2">
                <button type="button" onclick="location.href='@Url.Action("ExportPDF", "QuanLyHoaDon", new{idhd = @Model.Id})'" class="btn btn-secondary fw-normal text-white"><i class="fa-solid fa-file-export fa-xs me-2" style="color: #ffffff;"></i> Xuất PDF</button>
            </div>
            <div class="d-flex p-2">
                <button type="button" class="btn btn-secondary fw-normal text-white" data-bs-dismiss="modal"><i class="fa-solid fa-x fa-xs me-2" style="color: #ffffff;"></i> Đóng</button>
            </div>

        </div>
    </div>
    @if (Model.LoaiHD == 0)
    {
        <!--Thông tin giao hàng-->
        <div class="tab-pane fade" id="ttgh" role="tabpanel" aria-labelledby="profile-tab">
            <div class="d-flex mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Tên người nhận</th>
                            <th scope="col">SĐT</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@Model.NguoiNhan</th>
                            <td>@Model.SĐT</td>
                            <td>@Model.DiaChi</td>
                            <td>@Model.Email</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    <!--Lịch sử tích điểm-->
    @if (@Model.KhachHang != "Khách lẻ")
    {
        <div class="tab-pane fade" id="lstd" role="tabpanel" aria-labelledby="profile-tab">
            <div class="d-flex mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Mã tích điểm</th>
                            <th scope="col">Điểm</th>
                            <th scope="col">Loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.lstlstd.Count == 0)
                        {
                            <tr>
                                <td colspan=3>
                                    <p style="text-align:center">Không có lịch sử tích điểm nào</p>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in @Model.lstlstd)
                            {
                                if (item.TrangThai == 1)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-success">@item.Diem</td>
                                        <td class="text-success">
                                            Tích điểm
                                        </td>
                                    </tr>
                                }
                                else if(item.TrangThai == 0)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-danger">@item.Diem</td>
                                        <td class="text-danger">
                                            Tiêu điểm
                                        </td>
                                    </tr>
                                }
                                else if(item.TrangThai == 2)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-success">@item.Diem</td>
                                        <td class="text-success">
                                            Hoàn điểm đơn hủy
                                        </td>
                                    </tr>
                                }
                                else if(item.TrangThai == 3)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-danger">@item.Diem</td>
                                        <td class="text-danger">
                                            Trừ điểm đơn hoàn hàng
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-success">@item.Diem</td>
                                        <td class="text-success">
                                            Hoàn điểm đơn hoàn hàng
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<script>
            $("#save").click(function(){
                var inputValue = $("#ghiChuinTTHD").val();
                if(inputValue === '' || inputValue.trim == ''){
                    toastr.error("Ghi chú hiện tại đang để trống", 'Error Alert', { timeOut: 300 });
                }else{
                     $.ajax({
                    url: "/BanHangTaiQuay/UpdateGhichu",
                    type: "PUT",
                    dataType: "json",
                    data:{
                        idhd: '@Model.Id',
                        ghichu: inputValue,
                    },
                    success: function(response) {
                        if(response.success == true){
                            billDetail('@Model.Id');
                            loadBill();
                        }else{
                            toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                        }
                    },
                    error: function(response) {
                        toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                    }
                });
                }
            })
            function InHD(idhd){
                $.ajax({
                url: "/QuanLyHoaDon/PrintHD/"+ idhd,
                type: 'GET',
                success: function (data) {
                     // Tạo một iframe ẩn trong trang hiện tại
                var iframe = document.createElement('iframe');
                iframe.style.display = 'none';
                document.body.appendChild(iframe);

                // Đặt nội dung của partial view vào iframe
                var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
                iframeDoc.open();
                iframeDoc.write(data);
                iframeDoc.close();

                // Kích hoạt hộp thoại in cho iframe
                iframe.contentWindow.print();
                    }
                    });
            }
            function huyDon(IDHD){
                var gc = $("#ghiChuinTTHD").val();
                if(@Model.TrangThai === 4){
                    toastr.error('Đơn hàng trong trạng thái hoàn, không thể hủy', "Error Alert", { timeOut: 1000 });
                }
                if(gc ===''|| gc == '@Model.GhiChu'){
                    toastr.error('Vui lòng nhập ghi chú hóa đơn', "Error Alert", { timeOut: 1000 });
                }else{
                    var ans = confirm("Bạn có chắc chắn hủy Hóa đơn này?");
                    if(ans){
                        $.ajax({
                            url: "/QuanLyHoaDon/HuyHD",
                            type: "GET",
                            dataType: 'json',
                            data:{
                                idhd: IDHD,
                                ghichu: gc,
                            },
                            contentType: 'application/json',
                            success: function(response) {
                                toastr.success(response.message, "Success Alert", { timeOut: 300 });
                                billDetail(IDHD);
                                loadBill();
                            },
                            error: function(err) {
                                toastr.error('Thay đổi trạng thái thất bại', "Error Alert", { timeOut: 300 });
                            }
                        });

                    }
                }
            }
    @*function copyDon(IDHD){
        $.ajax({
        url: "/QuanLyHoaDon/HuyHD",
        type: "GET",
        dataType: 'json',
        data:{
        idhd: IDHD,
        ghichu: gc,
        },
        contentType: 'application/json',
        success: function(response) {
        toastr.success(response.message, "Success Alert", { timeOut: 300 });
        billDetail(IDHD);
        loadBill();
        },
        error: function(err) {
        toastr.error('Thay đổi trạng thái thất bại', "Error Alert", { timeOut: 300 });
        }
        });
        }*@

            $("#exportPDF").click(function(){
                    var id = "@Model.Id"
                    $.ajax({
                        url: "/QuanLyHoaDon/ExportPDF/" + id,
                        type: "GET",
                        success: function(response) {

                        },
                        error: function(err) {
                        toastr.error('Lỗi xuất hóa đơn', "Error Alert", { timeOut: 300 });
                        }
                    });
            });
        //Đổi trạng thái
        function DoiTrangThai(trangthai){
            var ans = confirm("Cập nhật trạng thái hóa đơn này?");
            var id = "@Model.Id";
            if(ans){
                    $.ajax({
                    url: "/QuanLyHoaDon/DoiTrangThai",
                    type: "POST",
                    data:{
                        trangthai:trangthai,
                        idhd: id,
                    },
                    success: function(response) {
                        toastr.success(response.message, "Success Alert", { timeOut: 300 });
                        billDetail(id);
                        loadBill();
                    },
                    error: function(err) {
                        toastr.error('Thay đổi trạng thái thất bại', "Error Alert", { timeOut: 300 });
                    }
                });
            }
        }
        //Hoàn hàng
        function hoanHang(){
            var gc = $("#ghiChuinTTHD").val();
            if( gc === "" || gc === "@Model.GhiChu"){
                toastr.error('Bạn chưa nhập ghi chú cho đơn hàng', "Error Alert", { timeOut: 1000 });
            }else{
                var ans = confirm("Cập nhật trạng thái hóa đơn này?");
                var id = "@Model.Id";
                if(ans){
                        $.ajax({
                        url: "/QuanLyHoaDon/HoanHang",
                        type: "GET",
                        data:{
                            idhd: id,
                            ghichu: gc,
                        },
                        success: function(response) {
                            toastr.success(response.message, "Success Alert", { timeOut: 300 });
                            billDetail(id);
                            loadBill();
                        },
                        error: function(err) {
                            toastr.error('Thay đổi trạng thái thất bại', "Error Alert", { timeOut: 300 });
                        }
                    });
                }
            }
        }
        //Hoàn hàng thành công
        function hoanHangTC(){
            var ans = confirm("Cập nhật trạng thái hóa đơn này?");
            var id = "@Model.Id";
            if(ans){
                    $.ajax({
                    url: "/QuanLyHoaDon/HoanHangTC",
                    type: "GET",
                    data:{
                        idhd: id,
                    },
                    success: function(response) {
                        toastr.success(response.message, "Success Alert", { timeOut: 300 });
                        billDetail(id);
                        loadBill();
                    },
                    error: function(err) {
                        toastr.error('Thay đổi trạng thái thất bại', "Error Alert", { timeOut: 300 });
                    }
                });
            }
        }

</script>