@using AppData.Models
@model AppData.ViewModels.BanOffline.ChiTietHoaDonQL

@{

}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#thongtin" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#lstd" type="button" role="tab" aria-selected="false" tabindex="-1">Lịch sử tích điểm</button>
    </li>
</ul>
<div class="tab-content pt-2" id="myTabjustifiedContent">
    <!--Thông tin-->
    <div class="tab-pane fade p-3 show active" id="thongtin" role="tabpanel" aria-labelledby="home-tab">
        <div class="row row-padding-15 row-flex">
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <label class="col-sm-5 col-form-label">Mã hóa đơn:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label"><strong>@Model.MaHD</strong></label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Ngày tạo:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.NgayTao</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Ngày thanh toán:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.NgayThanhToan</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="row">
                    <label class="col-sm-5 col-form-label">Trạng thái:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">
                            @{
                                @(Model.TrangThai == 2 ? "Chờ bàn giao" :
                            (Model.TrangThai == 3 ? "Đang giao" :
                            (Model.TrangThai == 4 ? "Hoàn hàng" :
                            (Model.TrangThai == 5 ? "Hoàn hàng thành công" :
                            (Model.TrangThai == 6 ? "Thành công" :
                            (Model.TrangThai == 7 ? "Đơn hủy" : "Hàng thất lạc"))))))
                            }
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Người bán:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.NhanVien</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label">Thanh toán:</label>
                    <div class="col-sm-7">
                        <label class="col-form-label">@Model.PTTT</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label class="form-label control-label">Ghi chú:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" style="height: 80px">@Model.GhiChu</textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--Chi tiết hóa đơn-->
        <div class="d-flex mt-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Mã hàng</th>
                        <th scope="col">Mặt hàng</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Giá bán</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listsp)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Ten  /<span style="color:#f28322; font-size:14px">@item.PhanLoai</span></td>
                            <td class="text-end">@item.SoLuong</td>
                            <td class="text-end">@item.GiaGoc?.ToString("n0")</td>
                            <td class="text-end">@item.GiaLuu?.ToString("n0")</td>
                            @{
                                var tt = item.SoLuong * item.GiaLuu;
                                <td class="text-end"><b>@tt?.ToString("n0")</b></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Thanh Toán-->
        <div class="d-flex">
            <div class="d-flex flex-column ms-auto" style="width:35%">
                <div class="row  text-end">
                    <label class="col-sm-6 col-form-label">Tổng số lượng:</label>
                    <div class="col-sm-6">
                        <label class="col-sm-5 col-form-label">@Model.listsp.Sum(c=>c.SoLuong)</label>
                    </div>
                </div>
                <div class="row  text-end">
                    <label class="col-sm-6 col-form-label">Tổng tiền hàng:</label>
                    <div class="col-sm-6">
                        <label class="col-sm-5 col-form-label">@Model.listsp.Sum(c=>c.SoLuong * c.GiaLuu)?.ToString("n0")</label>
                    </div>
                </div>
                @if (@Model.TruTieuDiem != null)
                {
                    <div class="row  text-end">
                        <label class="col-sm-6 col-form-label">Trừ tiêu điểm:</label>
                        <div class="col-sm-6">
                            <label class="col-sm-5 col-form-label">@Model.TruTieuDiem?.ToString("n0")</label>
                        </div>
                    </div>
                }
                @if (@Model.voucher != null)
                {
                    <div class="row  text-end">
                        <label class="col-sm-6 col-form-label">Voucher hóa đơn:</label>
                        <div class="col-sm-6">
                            @if(Model.voucher.HinhThucGiamGia == 0){
                                <label class="col-sm-5 col-form-label">
                                    @Model.voucher.GiaTri.ToString("n0")
                                </label>
                            }else{
                                var vc = Model.listsp.Sum(c => c.SoLuong * c.GiaLuu) * Model.voucher.GiaTri / 100;                 
                                 <label class="col-sm-5 col-form-label">
                                    @vc?.ToString("n0")
                                </label>
                                
                            }

                        </div>
                    </div>
                }
                <div class="row text-end">
                    <label class="col-sm-6 col-form-label">Thuế VAT:</label>
                    <div class="col-sm-6">
                        <label class="col-sm-5 col-form-label">@Model.ThueVAT?.ToString("n0")</label>
                    </div>
                </div>
                <div class="row text-end">
                    <label class="col-sm-6 col-form-label">Tiền khách đưa:</label>
                    <div class="col-sm-6 ">
                        <label class="col-sm-5 col-form-label"><b>@Model.TienKhachTra?.ToString("n0")</b></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Lịch sử tích điểm-->
    <div class="tab-pane fade" id="lstd" role="tabpanel" aria-labelledby="profile-tab">
        <div class="d-flex mt-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Mã tích điểm</th>
                        <th scope="col">Điểm</th>
                        <th scope="col">Loại</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.lstlstd)
                    {
                        if (item.TrangThai == 1)
                        {
                            <tr>
                                <th scope="row">@item.ID</th>
                                <td class="text-success">@item.Diem</td>
                                <td class="text-success">
                                    Tích điểm
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th scope="row">@item.ID</th>
                                <td class="text-danger">@item.Diem</td>
                                <td class="text-danger">
                                    Tiêu điểm
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
</script>