@using AppData.Models
@model AppData.ViewModels.BanOffline.ChiTietHoaDonQL

@{
    ViewData["Title"] = "View";
    <link href="~/Admin/css/exporthd.css" rel="stylesheet">
}
<div class="container">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="invoice-container">
                        <div class="invoice-header">
                            @*<!-- Row start -->
                                <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="custom-actions-btns mb-5">
                                <a href="#" class="btn btn-primary">
                                <i class="icon-download"></i> Download
                                </a>
                                <a href="#" class="btn btn-secondary">
                                <i class="icon-printer"></i> Print
                                </a>
                                </div>
                                </div>
                                </div>
                                <!-- Row end -->*@
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="index.html" class="invoice-logo">
                                        REPUTATION SHOP
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <address class="text-right">
                                        Địa chỉ: Tầng 8, tòa nhà Ford, số 313 Trường Chinh<br>
                                        quận Thanh Xuân, Hà Nội<br>
                                        Điện thoại: 0964942121<br />
                                        Email: cskh@torano.vn
                                    </address>
                                </div>
                            </div>
                            <!-- Row end -->
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                                    <div class="invoice-details">
                                        <address>
                                            @Model.KhachHang<br>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                    <div class="invoice-details">
                                        <div class="invoice-num">
                                            <div>HD - @Model.MaHD</div>
                                            <div>Ngày xuất: @(DateTime.Now)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>
                        <div class="invoice-body">
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table custom-table m-0">
                                            <thead>
                                                <tr>
                                                    <th>Mã sản phẩm</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in @Model.listsp)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.Ten
                                                            <p class="m-0 text-muted">
                                                                PL: @item.PhanLoai
                                                            </p>
                                                        </td>
                                                        <td>@item.Id</td>
                                                        <td>@item.SoLuong</td>
                                                        <td>@item.GiaLuu</td>
                                                    </tr>
                                                }
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td colspan="2">
                                                        <p>
                                                            Tổng tiền hàng<br>
                                                            Shipping &amp; Handling<br>
                                                            Tax<br>
                                                        </p>
                                                        <h5 class="text-success"><strong>Tiền khách đưa
                                                    </td>
                                                    <td>
                                                        <p>
                                                            $5000.00<br>
                                                            $100.00<br>
                                                            $49.00<br>
                                                        </p>
                                                        <h5 class="text-success"><strong>@Model.TienKhachTra</strong></h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Row end -->
                        </div>
                        <div class="invoice-footer">
                            <i>Cảm ơn quý khách hẹn gặp lại</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

