@using AppData.Models
@using AppData.ViewModels
@model AppView.PhanTrang.PhanTrangCTSPBySP

@{
    ViewData["Title"] = "AddKHuyenMaiVoSP";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
    List<KhuyenMaiView> listkms = ViewBag.KhuyenMaiView;
    int stt = 1;
}

<h1>Thêm Khuyến Mãi Cho Sản Phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        
            <div class="form-group" >
            <label >Chọn mã khuyến mãi:</label>
                <div>
                <select id="khuyenMaiSelect" class="form-control" style="width:700px;height:50px">
                        @foreach (var loaisp in listkms.ToList())
                        {
                        <option value="@loaisp.ID" >@loaisp.Ten</option>

                        }
                    </select>
                </div>

            </div>
            <table class="table" >
                <thead>
                    <tr>
                        <th>
                            Chọn
                        </th>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên Màu Sắc
                        </th>
                        <th>
                            Tên Kích Cỡ
                        </th>
                        <th>
                            Số lượng 
                        </th>

                        <th>
                            Giá Gốc
                        </th>
                        <th>
                            Giá Trị KM
                        </th>
                        <th>
                            Giá Khuyến Mãi
                        </th>
                        <th>
                            Ngày Tạo
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listallctspbysp)
                    {
                        <tr>

                        <td><input type="checkbox" class="sanpham-checkbox" data-id="@item.ID"></td>
                            <td>
                                @stt
                            </td>

                            <td>   
                            <strong style="color:red">@item.TenMauSac</strong>
                            </td>
                            <td>
                                @*@{
                                var timkiemidbt = listbt.FirstOrDefault(x => x.ID == item.ID);
                                if(timkiemidbt!=null){
                                    <strong style="color:green">@timkiemidbt.SoLuong</strong>
                                }
                                }*@
                            <strong style="color:black">@item.TenKichCo</strong>
                            </td>
                            <td>
                            <strong style="color:black">@item.SoLuong</strong>
                            </td>
                            <td>
                            <strong style="color:red"><del>@item.GiaGoc.ToString("n0") VND</del></strong>
                            </td>
                            <td>
                            @{
                                var tk = listkms.FirstOrDefault(x => x.ID == item.IdKhuyenMai);
                                if (tk != null)
                                    {
                                        if (tk.NgayKetThuc >= DateTime.Now)
                                        {
                                            if(tk.TrangThai==0){
                                            <strong style="color:green">@tk.GiaTri VND</strong>
                                            }
                                                else{
                                            <strong style="color:green">@tk.GiaTri %</strong>
                                                }                                                                                           
                                        }
                                        else if (tk.NgayKetThuc < DateTime.Now)
                                        {
                                                                                                                                            <strong style="color:red"></strong>
                                        }
                                    }
                                    else
                                    {
                                                                                                                                        <strong style="color:red"></strong>
                                    }
                                }

                            </td>
                        <td>
                            @{
                               
                                if (tk != null)
                                {
                                    if (tk.NgayKetThuc >= DateTime.Now)
                                    {
                                        if (tk.TrangThai == 0)
                                        {
                                            <strong style="color:green">@(item.GiaGoc - tk.GiaTri ) VND</strong>
                                        }
                                        else
                                        {
                                            <strong style="color:green">$@(item.GiaGoc - item.GiaGoc * tk.GiaTri / 100) VND</strong>
                                        }
                                    }
                                    else if (tk.NgayKetThuc < DateTime.Now)
                                    {
                                        <strong style="color:red">$@item.GiaGoc.ToString("n0") VND</strong>
                                    }
                                }
                                else
                                {
                                    <strong style="color:red">$@item.GiaGoc.ToString("n0") VND</strong>
                                }
                            }

                        </td>
                            <td>
                            <strong style="color:green">@item.NgayTao</strong>

                            </td>
                           
                            <td>
                                @{

                                    if (item.TrangThai == 0)
                                    {
                                                                                                                                        <strong style="color:red">Hết Hàng</strong>
                                    }
                                    else
                                    {
                                                                                                                                        <strong style="color:green">Còn Hàng</strong>
                                    }
                                }

                            </td>
                      
                            @{
                                stt++;
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-12">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" href="/QuanLyKM/AddKHuyenMaiVoSP?ProductPage=@i">@i</a></li>

                        }

                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <br>
        <button id="selectAllCheckbox" class="btn btn-primary">Chọn tất cả</button>
       
        <br />
        <div class="form-group">
            <button id="updateButton" class="btn btn-primary">Add Vo SP</button> <button id="XoaButton" class="btn btn-danger">Không Áp Dụng Khuyến Mãi</button>
        </div>
        <div id="updateMessage"></div>
    </div>
</div>

<div>
    <a asp-action="GetAllQLKhuyenMaiSP">Quay lại</a>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>




        $(document).ready(function () {
            // Sự kiện khi click vào "Chọn tất cả"
            $("#selectAllCheckbox").click(function () {
                $(".sanpham-checkbox").prop("checked", true);
            });

            // Sự kiện khi click vào "Cập nhật"
            $("#updateButton").click(function () {
                var selectedKhuyenMai = $("#khuyenMaiSelect").val();
                var selectedSanPham = [];

                $(".sanpham-checkbox:checked").each(function () {
                    selectedSanPham.push($(this).data("id"));
                });

                // Gửi dữ liệu lên server để cập nhật
                $.ajax({
                    url: "/QuanLyKM/AddKHuyenMaiVoSP",
                    type: "POST",
                    data: {
                        idKhuyenMai: selectedKhuyenMai,
                        bienthes: selectedSanPham
                    },
                    success: function (response) {
                        if (response.success == true) {
                            location.reload();
                        } else {
                            toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                        }
                    },
                    error: function (response) {
                        console.log(response);
                        toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                    }
                });
            });
            $("#XoaButton").click(function () {
               
                var selectedSanPham = [];

                $(".sanpham-checkbox:checked").each(function () {
                    selectedSanPham.push($(this).data("id"));
                });

                // Gửi dữ liệu lên server để cập nhật
                $.ajax({
                    url: "/QuanLyKM/XoaKHuyenMaiRaSP",
                    type: "POST",
                    data: {
                       
                        bienthes: selectedSanPham
                    },
                    success: function (response) {
                        if (response.success == true) {
                            location.reload();
                        } else {
                            toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                        }
                    },
                    error: function (response) {
                        console.log(response);
                        toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                    }
                });
            });
        });
           
        
</script>
