@using AppData.ViewModels
@model AppView.PhanTrang.PhanTrangBienThe

@{
    ViewData["Title"] = "GetAllQLKhuyenMai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<KhuyenMaiView> listkms = ViewBag.KhuyenMaiView;
    List<SanPhamViewModel> listsp = ViewBag.SanPhamViewModel;

    int stt = 1;
}

<h2>Quản Lý Khuyến Mãi Sản Phẩm</h2>

<p>
    <a asp-controller="QuanLyKM" asp-action="AddKHuyenMaiVoSP">Thêm Khuyến Mãi vô Sản Phẩm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>

            <th>
                Tên SP
            </th>
            <th>
                Số lượng Sản Phẩm
            </th>
            <th>
                Ngày Tạo Sản Phẩm
            </th>
            <th>
                Tên Khuyến Mãi
            </th>

            <th>
                Giá Khuyến Mãi
            </th>
            <th>
                Giá Trị KM
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listbienthes)
        {
            <tr>
                <td>
                    @stt
                </td>

                <td>
                    @{
                        var sp = listsp.FirstOrDefault(x => x.ID == item.IDSanPham);
                        if (sp != null)
                        {
                            <strong style="color:red">@sp.Ten</strong>
                        }
                        else
                        {
                            <strong style="color:red">chưa có Tên SP</strong>
                        }
                    }

                </td>
                <td>
                    <strong style="color:green">@item.SoLuong</strong>
                </td>
                <td>
                    <strong style="color:green"> @item.NgayTao</strong>
                </td>

                <td>
                    @{

                        var tk = listkms.FirstOrDefault(x => x.ID == item.IDKhuyenMai);
                        if (tk != null)
                        {
                            if (tk.NgayKetThuc >= DateTime.Now)
                            {
                                <strong style="color:green">@tk.Ten</strong>
                            }
                            else if (tk.NgayKetThuc < DateTime.Now)
                            {
                                <strong style="color:red">@tk.Ten hết hạn rồi</strong>
                            }

                        }
                        else
                        {
                            <strong></strong>
                        }
                    }
                </td>


                <td>
                    @{
                        if (tk != null)
                        {
                            if (tk.NgayKetThuc >= DateTime.Now)
                            {
                                <strong style="color:green">$@(item.GiaBan - item.GiaBan * tk.GiaTri / 100) VND</strong>
                            }
                            else if (tk.NgayKetThuc < DateTime.Now)
                            {
                                <strong style="color:red">$@item.GiaBan.ToString("n0") VND</strong>
                            }
                        }
                        else
                        {
                            <strong style="color:red">$@item.GiaBan.ToString("n0") VND</strong>
                        }
                    }

                </td>
                <td>
                    @{
                        if (tk != null)
                        {
                            <strong style="color:green">@tk.GiaTri%</strong>
                        }
                        else
                        {
                            <strong></strong>
                        }
                    }

                </td>
                <td>
                    <strong style="color:red"><del>$@item.GiaBan.ToString("n0") VND</del></strong>
                </td>
                <td>
                    @{

                        if (item.TrangThai == 0)
                        {
                            <strong style="color:red">Hết Hàng</strong>
                        }
                        else
                        {
                            <strong style="color:green">Còn Hàng</strong>
                        }
                    }

                </td>
                <td>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "Update", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                </td> @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/KhuyenMai/Show?ProductPage=@i">@i</a></li>

            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Quản Lý Khuyến Mại</h2>

<p>
    <a asp-action="Create">Thêm Mới Khuyến mãi</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>

            <th>
                Tên
            </th>
            <th>
                Giá Trị
            </th>
            <th>
                Ngày Áp Dụng
            </th>
            <th>
                Ngày Kết Thúc
            </th>
            <th>
                Mô Tả
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listkms)
        {
            <tr>
                <td>
                    <strong style="color:black">@stt</strong>
                </td>

                <td>
                    <strong style="color:red">@item.Ten</strong>
                </td>
                <td>
                    <strong style="color:green">@item.GiaTri%</strong>
                </td>
                <td>
                    <strong style="color:green">@item.NgayApDung</strong>
                </td>
                <td>
                    @if (item.NgayKetThuc >= DateTime.Now)
                    {
                        <strong style="color:green">@item.NgayKetThuc</strong>
                    }
                    else
                    {
                        <strong style="color:red">@item.NgayKetThuc</strong>
                    }

                </td>
                <td>
                    <strong style="color:black">@item.MoTa</strong>
                </td>
                <td>
                    @{
                        if (item.NgayKetThuc >= DateTime.Now)
                        {
                            <strong style="color:green">còn khuyến mãi</strong>
                        }
                        else
                        {
                            <strong style="color:red">Hết Khuyến mãi</strong>
                        }
                    }

                </td>
                <td>
                    <button class="btn btn-success">
                        @Html.ActionLink("Sửa", "Update", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                    <button class="btn btn-danger">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @style = "color:white;" })
                    </button>
                </td> @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
