@using AppData.ViewModels
@model AppView.PhanTrang.PhanTrangAllQLKMSP

@{
    ViewData["Title"] = "GetSPByIdKM";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
    int stt = 1;
    AppData.Models.AssignmentDBContext Dbcontext = new AppData.Models.AssignmentDBContext();
    List<KhuyenMaiView> listkms = ViewBag.KhuyenMaiView;
    List<string> imageExtensions = new List<string>()
    {
         ".png", ".jpg", ".jpeg", ".gif", ".tiff", ".pdf",".webp",".jfif"
    };
}
<button class="btn btn-dark">
    <strong style="color:white">@Html.ActionLink("Thêm Sản Phẩm Vô KM", "GetSPNoKM")</strong>
</button>
<h1> Các Sản Phẩm</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
          
            <th>
                Mô Tả
            </th>
            <th>
                Tên Ảnh
            </th>
            <th>
                Số lượng CTSP
            </th>
            <th>
                Tổng số sao
            </th>
            <th>
                Tổng đánh giá
            </th>

            <th>
                Giá Bán
            </th>
            <th>
                Tên Loại SP
            </th>

            <th>
                Tên Chất Liệu
            </th>
            <th>
                Trạng Thái
            </th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listallsp)
        {
            <tr>
                <td>
                    <strong style="color:black">@stt</strong>
                </td>
                <td>
                    <strong style="color:black">@item.MaSP</strong>
                </td>
                <td>
                    <strong style="color:black">@item.Ten</strong>
                </td>
                <td>
                    <strong style="color:black">@item.MoTa</strong>
                </td>
                <td>
                    @{

                        if (item.TenAnh != null)
                        {
                            string extension = System.IO.Path.GetExtension(item.TenAnh);
                            if (imageExtensions.Contains(extension.Trim()))
                            {
                                    <img class="img-fluid w-100" src="/img/product/@item.TenAnh" style="width:100px;height:250px"/>
                            }
                            else
                            {
                                    <img class="img-fluid w-100" src="~/imgs/product-2.jpg" height="100px">
                            }
                        }
                        else
                        {
                                <strong></strong>
                        }
                    }
                </td>
                <td>
                    <strong style="color:green">@item.SoLuongCTSP</strong>
                </td>

                <td>
                    <strong style="color:black">@item.TongSoSao</strong>
                </td>
                <td>
                    <strong style="color:black">@item.TongDanhGia</strong>
                </td>

                <td>
                    <strong style="color:black">@item.GiaBan</strong>
                </td>


                <td>
                    @{
                        var tenloaisp = Dbcontext.LoaiSPs.FirstOrDefault(x => x.ID == item.IDLoaiSP);
                        if (tenloaisp != null)
                        {
                                <strong style="color:black">@tenloaisp.Ten</strong>
                        }
                    }
                </td>
                <td>
                    @{
                        var tencl = Dbcontext.ChatLieus.FirstOrDefault(x => x.ID == item.IDChatLieu);
                        if (tencl != null)
                        {
                                <strong style="color:black">@tencl.Ten</strong>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.TrangThai == 0)
                        {
                                <strong style="color:red">Hết Hàng</strong>
                        }
                        else
                        {
                                <strong style="color:green">Còn Hàng</strong>
                        }
                    }
                </td>
                <td>

                    <button class="btn btn-primary">
                        @Html.ActionLink("Chi tiết", "AddCTSPByIdKMLayTuSession", new { id = item.ID }, new { @style = "color:white;" })
                    </button>

                </td>
                @{
                    stt++;
                }
            </tr>
        }
    </tbody>
</table>
<div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/QuanLyKM/GetAllQLKhuyenMaiSP?ProductPage=@i">@i</a></li>

            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
