@model AppData.ViewModels.KhuyenMaiView

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h1>Sửa khuyến mãi</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label class="control-label">ID Khuyen Mai</label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label class="control-label">Mã</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label class="control-label">Loại khuyến mãi</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trangthai" value="1" @(Model.TrangThai == 1||Model.TrangThai==3 ? "checked" : "")>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Phần trăm
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="trangthai" value="0" @(Model.TrangThai == 0||Model.TrangThai==2 ? "checked" : "")>
                    <label class="form-check-label" for="flexRadioDefault2">
                       Tiền mặt
                    </label>
                </div>
            </div>*@
            <div class="form-group" hidden>
                <label class="control-label">Giá trị</label>
                <input asp-for="GiaTri" class="form-control"  />
                
            </div>
            <div class="form-group">
                <label class="control-label">Ngày áp dụng</label>
                <input asp-for="NgayApDung" class="form-control" />
                <span class="text-danger">@ViewData["NgayApDung"]</span>
            </div>
            <div class="form-group">
                <label class="control-label"> Ngày kết thúc</label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span class="text-danger">@ViewData["NgayKetThuc"]</span>
                <span class="text-danger">@ViewData["Ngay"]</span>
            </div>
            <div class="form-group">
                <label class="control-label"> Mô tả </label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Sửa khuyến mãi" />
            </div>

        </form>
    </div>
</div>

<br />
<button class="btn btn-primary">
    <a asp-action="GetAllKM" style="color:white;">Quay lại</a>
</button>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
   @* <script>
        // JavaScript để quản lý trạng thái của radio buttons
        document.addEventListener("DOMContentLoaded", function () {
            var gioiTinh = @Model.TrangThai;

            document.querySelector('input[name="trangthai"][value="' + gioiTinh + '"]').checked = true;
        });
    </script>*@