@using AppData.Models;
@using AppData.ViewModels;
@using Newtonsoft.Json;
@{
    LoginViewModel loginInfor = new LoginViewModel();
    string? session = Context.Session.GetString("LoginInfor");
    if (session != null)
    {
        loginInfor = JsonConvert.DeserializeObject<LoginViewModel>(Context.Session.GetString("LoginInfor"));
    }
    string? tongtien = TempData.Peek("TongTien") as string;
    string? soLuong = TempData.Peek("Quantity") as string;
    long tienship = 0;
    Layout = "_Layout";
}
<style>
    a:hover {
        text-decoration: none;
        outline: none;
        color: black;
    }
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Thanh toán</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Trang chủ</a>
                        <a href="./shop.html">Cửa hàng</a>
                        <span>Thanh toán</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    @*                     <h6 class="coupon__code">
                    <span class="icon_tag_alt"></span>Có phiếu giảm giá?<a href="#">
                    Bấm vào đây
                    </a> ể nhập mã của bạn
                    </h6> *@
                    <h6 class="checkout__title">Chi tiết thanh toán</h6>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__input">
                                <label for="ten">Tên</label>
                                <input type="text" class="form-control" id="name" placeholder="" value="@loginInfor.Ten" required="" style="height:38px">
                                <div class="invalid-feedback"> Không để trống tên</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="sdt">SĐT</label>
                                <input type="text" class="form-control" id="phone" placeholder="" value="@loginInfor.SDT" required="" style="height:38px">
                                <div class="invalid-feedback"> Không để trống SDT </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="" value="@loginInfor.Email" required="" style="height:38px">
                                <div class="invalid-feedback"> Không để trống email </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="tinh">Tỉnh</label>
                                <select class="custom-select d-block w-100" id="province" required="">
                                    <option selected id="dfprovince">--------------------Chọn tỉnh--------------------</option>
                                </select>
                                <div class="invalid-feedback"> Tên hợp lệ là bắt buộc. </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="huyen">Huyện</label>
                                <select class="custom-select d-block w-100" id="district" required="">
                                </select>
                                <div class="invalid-feedback"> Tên hợp lệ là bắt buộc. </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="xa">Xã</label>
                                <select class="custom-select d-block w-100" id="ward" required="">
                                </select>
                                <div class="invalid-feedback"> Tên hợp lệ là bắt buộc. </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <label for="diachi">Địa chỉ</label>
                                <input type="text" class="form-control" id="address" placeholder="" required="" style="height:38px">
                                <div class="invalid-feedback"> Valid first name is required. </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__input">
                                <label for="pttt">Phương thức thanh toán</label>
                                <div style="box-shadow:0 0 0 1px #d9d9d9;border-radius:0.25rem">
                                    <div style="display:flex!important;align-items:center;padding:0.8rem">
                                        <input type="radio" name="pttt" value="COD" style="margin-bottom: 0px;width:20px;" />
                                        <img style="padding-left:0.75rem" src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=6">
                                        <p style="margin-bottom: 0px;padding-left: 10px;">Thanh toán khi giao hàng (COD)</p>
                                    </div>
                                    <div style="border-top: 1px solid #d9d9d9;display:flex!important;align-items:center;padding:0.8rem">
                                        <input type="radio" name="pttt" value="VNPay" style="margin-bottom: 0px;width:20px" />
                                        <div style="width:40px;height:40px;margin-left:0.75rem;border:1px solid #d9d9d9;border-radius:0.25rem">
                                            <img style="width:30px;height:30px;margin:5px" src="/img/icon/vnpay.png">
                                        </div>
                                        <p style="margin-bottom: 0px;padding-left: 10px;">Chuyển khoản qua VNPay</p>
                                    </div>
                                </div>

                                <div id="pttt-error" style="display:none;color:red">Vui lòng chọn phương thức thanh toán</div>

                                <div id="pttt-error" style="display:none;color:red; font-size:12px;">Vui lòng chọn phương thức thanh toán</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__input">
                                <label for="ten">Ghi chú</label>
                                <textarea class="form-control" id="note" placeholder="" value=""></textarea>
                                <div class="invalid-feedback"> Không để trống tên</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cart__discount" style="margin-bottom:20px!important">
                        <h6>Hình thức giảm giá</h6>
                        <div style="position:relative;margin-bottom:5px">
                            <input type="text" id="voucher" placeholder="Nhập mã giảm giá" style="font-size:14px;color:#b7b7b7;height: 50px;width: 100%;border: 1px solid #e1e1e1;padding-left: 20px;" list="vouchers" />
                            <datalist id="vouchers">
                            </datalist>
                            <button onclick="usevoucher()" style="font-size: 14px;color: #ffffff;font-weight: 700;letter-spacing: 2px;text-transform: uppercase;background: #111111;padding: 0 30px;border: none;position: absolute;right: 0;top: 0;height: 100%;">
                                Áp dụng
                            </button>
                        </div>
                        @if (session != null)
                        {
                            <div style="position:relative">
                                <input type="number" placeholder="Nhập số điểm" style="font-size:14px;color:#b7b7b7;height: 50px;width: 100%;border: 1px solid #e1e1e1;padding-left: 20px;" id="diemTich">
                                <button onclick="usediem()" type="submit" style="font-size: 14px;color: #ffffff;font-weight: 700;letter-spacing: 2px;text-transform: uppercase;background: #111111;padding: 0 30px;border: none;position: absolute;right: 0;top: 0;height: 100%;">Áp dụng</button>
                            </div>
                            <span id="error-message" style="color: red; font-size: 12px;"></span>
                            <p>Bạn hiện tại có: @loginInfor.DiemTich điểm</p>
                        }
                        else
                        {
                            <a asp-action="Login" asp-route-actionName="CheckOut">Đăng nhập để sử dụng tích điểm</a>
                        }
                    </div>
                    <div class="checkout__order">
                        <h4 class="order__title">Đơn hàng của bạn</h4>
                        @* <div class="checkout__order__products">Product <span>Total</span></div>
                        <ul class="checkout__total__products">
                        <li>01. Vanilla salted caramel <span>$ 300.0</span></li>
                        <li>02. German chocolate <span>$ 170.0</span></li>
                        <li>03. Sweet autumn <span>$ 170.0</span></li>
                        <li>04. Cluten free mini dozen <span>$ 110.0</span></li>
                        </ul> *@
                        <ul class="checkout__order__products">
                            <li>Tiền hàng <span id="tienHang"></span></li>
                            <li id="moneyvoucher" hidden></li>
                            <li id="moneyscore" hidden></li>
                            <li>Tiền ship <span id="fee">0 VND</span></li>
                            <li>Tổng tiền <span id="total"></span></li>
                        </ul>
                        <button onclick="createhoadon()" class="site-btn">
                            XÁC NHẬN
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var tienShip = 0;
    var tienDiem = 0;
    var tienVoucher = 0;
    var tinh = "";
    var huyen = "";
    var xa = "";
    var voucher = "";
    var diemTich = 0;
    $(document).ready(function () {
        var tienHang = @tongtien;
    document.getElementById("tienHang").innerHTML = tienHang.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
        document.getElementById("total").innerHTML = tienHang.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
        $.ajax({
            type: "GET",
            url: "/Home/GetAllVoucherByTien",
            dataType: "json",
            data: { tongTien : tienHang},
            success: function (response) {
                $.each(response.ketQua, function (i,item) {
                    if (item.hinhThucGiamGia == 1) {
                        $("#vouchers").append(`<option value='${item.ten}'>(-${item.giaTri}%)</option>`)
                    } 
                    else 
                    {
                        $("#vouchers").append(`<option value='${item.ten}'>(-${item.giaTri.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })})</option>`)
                    }
                });
            },
            error: function (reponse) {
                console(reponse);
            }
        });
        $.ajax({
            type: "GET",
            url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/province",
            headers: { token: '9f4e42e4-fde8-11ed-a281-3aa62a37e0a5' },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    var rows = "<option id='" + data.data[i].ProvinceID + "' value='" + data.data[i].ProvinceID + "'>" + data.data[i].ProvinceName + "</option>";
                    $('#province').append(rows);
                }
            },
            error: function (reponse) {
                alert(reponse.responseText);
            }
        });
        $("#province").change(function () {
            var value = document.getElementById("province").value;
            tinh = document.getElementById(value).innerHTML;
            $.ajax({
                type: "GET",
                url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/district?province_id=" + value,
                headers: { token: '9f4e42e4-fde8-11ed-a281-3aa62a37e0a5' },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#dfprovince').remove();
                    document.getElementById('district').innerHTML = '';
                    $('#district').append('<option selected id="dfdistrict">--------------------Chọn huyện--------------------</option>');
                    for (var i = 0; i < data.data.length; i++) {
                        var rows = "<option id='" + data.data[i].DistrictID + "' value='" + data.data[i].DistrictID + "'>" + data.data[i].DistrictName + "</option>";
                        $('#district').append(rows);
                    }
                },
                error: function (reponse) {
                    alert(reponse.responseText);
                }
            });
        });
        $("#district").change(function () {
            var value = document.getElementById("district").value;
            huyen = document.getElementById(value).innerHTML;
            $.ajax({
                type: "GET",
                url: "https://online-gateway.ghn.vn/shiip/public-api/master-data/ward?district_id=" + value,
                headers: { token: '9f4e42e4-fde8-11ed-a281-3aa62a37e0a5' },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#dfdistrict').remove();
                    document.getElementById('ward').innerHTML = '';
                    $('#ward').append('<option selected id="dfward">--------------------Chọn xã--------------------</option>');
                    for (var i = 0; i < data.data.length; i++) {
                        var rows = "<option id='" + data.data[i].WardCode + "' value='" + data.data[i].WardCode + "'>" + data.data[i].WardName + "</option>";
                        $('#ward').append(rows);
                    }
                },
                error: function (reponse) {
                    alert(reponse.responseText);
                }
            });
        });
        $("#ward").change(function () {
            var value1 = document.getElementById("ward").value;
            var value2 = document.getElementById("district").value;
            xa = document.getElementById(value1).innerHTML;
            $.ajax({
                type: "GET",
                url: "https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee?shop_id=4643378?to_ward_code=" + value1 + "&to_district_id=" + value2 + "&weight="+500*@soLuong+"&service_type_id=2",
                headers: { token: '9f4e42e4-fde8-11ed-a281-3aa62a37e0a5' },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#dfward').remove();
                    tienShip = data.data.total;
                    document.getElementById("fee").innerHTML = data.data.total.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                    var total = tienShip + @tongtien-tienVoucher - tienDiem;
                    if (total < 0) {
                        total = 0
                    }
                    document.getElementById("total").innerHTML = total.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                },
                error: function (reponse) {
                    alert(reponse.responseText);
                }
            });
        });
        $('.checkout__input input').on('input', function () {
            $(this).removeClass('is-invalid');
            $(this).next('.invalid-feedback').text('');
        });
        $('.checkout__input select').change(function () {
            $(this).removeClass('is-invalid');
            $(this).next('.invalid-feedback').text('');
        });
        $('input[name="pttt"]').change(function () {
            $('#pttt-error').hide();
        });
    });
    function createhoadon() {
        var ten = $("#name").val();
        var email = $("#email").val();
        var sdt = $("#phone").val();
        var tinh = $("#province option:selected").text().trim();
        var huyen = $("#district option:selected").text().trim();
        var xa = $("#ward option:selected").text().trim();
        var diachi = $("#address").val();
        var pttt = $('input[name="pttt"]:checked').val();
        var ghiChu = $("#note").val();
        $('.invalid-feedback').text('');
        $('.is-invalid').removeClass('is-invalid');
        var hasError = false;
        if (ten.trim().length == 0) {
            $('#name').addClass('is-invalid');
            $('#name').next('.invalid-feedback').text('Không để trống tên');
            hasError = true;
        }
        var phoneNumberRegex = /^\d{10}$/;
        if (sdt.trim().length == 0) {
            $('#phone').addClass('is-invalid');
            $('#phone').next('.invalid-feedback').text('Không để trống sdt');
            hasError = true;
        }
        else if (!phoneNumberRegex.test(sdt)) {
            $('#phone').addClass('is-invalid');
            $('#phone').next('.invalid-feedback').text('Số điện thoại không hợp lệ');
            hasError = true;
        }
        var emailRegex = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (email.trim().length == 0) {
            $('#email').addClass('is-invalid');
            $('#email').next('.invalid-feedback').text('Không để trống email');
            hasError = true;
        }
        else if (!emailRegex.test(email)) {
            $('#email').addClass('is-invalid');
            $('#email').next('.invalid-feedback').text('Email không hợp lệ');
            hasError = true;
        }
        if (tinh == "--------------------Chọn tỉnh--------------------") {
            $('#province').addClass('is-invalid');
            $('#province').next('.invalid-feedback').text('Vui lòng chọn tỉnh');
            hasError = true;
        }

        if (huyen.trim().length == 0 || huyen == "--------------------Chọn huyện--------------------") {
            $('#district').addClass('is-invalid');
            $('#district').next('.invalid-feedback').text('Vui lòng chọn huyện');
            hasError = true;
        }

        if (xa.trim().length == 0 || xa == "--------------------Chọn xã--------------------") {
            $('#ward').addClass('is-invalid');
            $('#ward').next('.invalid-feedback').text('Vui lòng chọn xã');
            hasError = true;
        }
        if (diachi.trim().length == 0) {
            $('#address').addClass('is-invalid');
            $('#address').next('.invalid-feedback').text('Không để trống địa chỉ');
            hasError = true;
        }
        if (pttt == undefined) {
            $('#pttt-error').show(); // Hiển thị thông báo lỗi
            hasError = true;
        } else {
            $('#pttt-error').hide(); // Ẩn thông báo lỗi
        }
        if (hasError) {
            alert("Vui long dien day du thong tin");
        }

        else {
            var objHoaDon = { Ten: ten, Email: email, SDT: sdt, DiaChi: diachi + ", " + xa + ", " + huyen + ", " + tinh, TienShip: tienShip, PhuongThucThanhToan: pttt, TongTien: tienShip + @tongtien-tienVoucher - tienDiem, TenVoucher: voucher, Diem: diemTich, GhiChu: ghiChu};
            $.ajax({
                async: false,
                type: 'POST',
                dataType: 'text',
                url: '/Home/Order',
                data: objHoaDon,
                success: function (response) {

                    console.log(response);

                    location.href = response;
                },
                error: function (response) {
                    alert("Error");
                }
            });
        }
    }

    function usevoucher() { 
        value = $("#voucher").val();
        $.ajax({          
            async: true,
            type: 'GET',
            dataType: 'json',
            url: '/Home/UseVoucher',
            data: { ma: value, tongTien: @tongtien},
            success: function (response) {
                if (response.trangThai == true) {
                    voucher = value;
                    if (response.hinhThuc == 1) {
                        tienVoucher = (@tongtien * response.giaTri) / 100;
                    }
                    else if (response.hinhThuc == 0) {
                        tienVoucher = response.giaTri;
                    }
                    var ipVoucher = document.getElementById("moneyvoucher");
                    ipVoucher.hidden = false;
                    ipVoucher.innerHTML = "Số tiền giảm (Voucher)<span>" + tienVoucher.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) + " </span>";
                    var total = tienShip + @tongtien-tienVoucher - tienDiem;
                    if (total < 0) {
                        total = 0
                    }
                    document.getElementById("total").innerHTML = total.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                }
                else {
                    alert(response.loi);
                }
            },
            error: function (response) {
                alert("Error");
            }
        });
    }
    function usediem() {
        // if (isNaN(diemTich)) {
        //     $("#error-message").text("Số điểm không hợp lệ. Vui lòng nhập số nguyên.");
        //     return;
        // }
        // if (diemTich < 0) {
        //     $("#error-message").text("Số điểm không thể âm.");
        //     return;
        // }
        // $("#error-message").text("");
        var value = $("#diemTich").val();
        if (value > @(loginInfor.DiemTich==null?0:loginInfor.DiemTich)) {
            alert("Số điểm của bạn không đủ");
        }
        else if (value<0) {
            alert("Số điểm không thể âm");
        } else if (isNaN(value)) {
            alert("Giá trị không hợp lệ");
        }
        else {
            $.ajax({
                async: true,
                type: 'GET',
                dataType: 'json',
                url: '/Home/UseDiemTich',
                data: { diem: value, id: '@loginInfor.Id', tongTien: @tongtien },
                success: function (response) {
                    if (response.trangThai == true) {
                        diemTich = value;
                        var ipDiem = document.getElementById("moneyscore");
                        ipDiem.hidden = false;
                        tienDiem = response.soTienGiam;
                        ipDiem.innerHTML = "Số tiền giảm (Điểm)<span>" + tienDiem.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) + "</span>";
                        var total = tienShip + @tongtien-tienVoucher - tienDiem;
                        if(total < 0){
                            total = 0
                        }
                        document.getElementById("total").innerHTML = total.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
                    }
                    else {
                        alert(response.loi);
                    }
                },
                error: function (response) {
                    alert("Error");
                }
            });
        }       
    }
</script>

<!-- Checkout Section End -->
