@using AppData.ViewModels.SanPham;
@model List<GioHangRequest>
@{
    Layout = "_Layout"; 
    string? temp = TempData.Peek("TongTien") as string;
    string tongTien = temp == null ? "0" : temp;
}

    <!-- Breadcrumb Section Begin -->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                    <h4>Giỏ hàng</h4>
                        <div class="breadcrumb__links">
                            <a href="https://localhost:5001/">Trang chủ</a>
                            <a href="https://localhost:5001/Home/Shop">Cửa hàng</a>
                        <span>Giỏ hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá bán</th>
                                    <th>Số lượng</th>
                                    <th>Tổng cộng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <a asp-controller="Home" asp-action="ProductDetailFromCart" asp-route-idctsp="@item.IDChiTietSanPham"><img style="height:120px;width:100px" src="/img/product/@item.Anh" alt=""></a>
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@item.Ten</h6>
                                            <h5>@item.MauSac/@item.KichCo</h5>
                                            <p id="validate_@item.IDChiTietSanPham" style="display:none;color:red;font-size:12px">Số lượng không thể đáp ứng</p>
                                        </div>
                                    </td>
                                    <td class="cart__price">@item.DonGia.Value.ToString("n0").Replace(',','.') </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input class="soLuongCart" style="-webkit-appearance:none;" name="@item.IDChiTietSanPham" type="number" value="@item.SoLuong">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="color: #111111; font-size: 18px; font-weight: 700; width: 140px;" class="cart__price__sub">@((item.DonGia.Value * item.SoLuong).ToString("n0").Replace(',','.')) </td>
                                    <td class="cart__close"><a asp-controller="Home" asp-action="DeleteFromCart" asp-route-id="@item.IDChiTietSanPham"><i class="fa fa-close"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="https://localhost:5001/Home/Shop">Tiếp tục mua sắm</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                    <h6>Tổng số giỏ hàng</h6>
                        <ul>
                            <li>Tổng <span id="SubTotal">@Convert.ToInt32(tongTien).ToString("n0") VNĐ</span></li>
                        </ul>
                    <a onclick="CheckCart()" href="#" class="primary-btn" >Mua hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script src="/js/jquery-3.3.1.min.js"></script>
    <script>
        var checkSoLuong = [];
        $(document).ready(function () {
            UpdateCart();
            document.getElementById("SubTotal").innerHTML = Intl.NumberFormat().format(@tongTien) + " VNĐ" 
        });
        function UpdateCart(){
        var dl = document.getElementsByClassName("soLuongCart");
            var lst = [];
            for(var i = 0;i<dl.length;i++){
                lst.push(dl[i].name + dl[i].value)
            }
            var postData = { dssl: lst };
            $.ajax({
                async: true,
                type: 'POST',
                dataType: "json",
                data: postData,
                url: '/Home/UpdateCart',
                success: function (response) {
                    if (response.success == true) {
                        var subCart = document.getElementsByClassName("cart__price__sub");
                        var tongtien = 0;
                        for (var i = 0; i < subCart.length; i++) {
                            var tongTienHang = subCart[i].innerHTML.replaceAll(".", "");
                            tongTienHang = tongTienHang.replaceAll(",", "");
                            tongtien += parseInt(tongTienHang);
                        }
                        document.getElementById("SubTotal").innerHTML = Intl.NumberFormat().format(tongtien) + "VNĐ";
                        if (response.data.length > 0) {
                            for (let i = 0; i < response.data.length; i++) {
                                if (response.data[i].hetHang) {
                                    document.getElementById("validate_" + response.data[i].idChiTietSanPham).style.display = "none";
                                }else{
                                    document.getElementById("validate_" + response.data[i].idChiTietSanPham).style.display = "block";
                                }
                            }
                        }
                        checkSoLuong = response.data.filter(x => x.hetHang == false).length <= 0;
                    $('#tongsoluong').text(response.cout);
                    } else {
                        toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                    }
                },
                error: function (response) {
                    console.log(response);
                    toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                }
            });
        }

        function CheckCart(){

            if(@Model.Count == 0){
                alert("Vui lòng thêm sản phẩm vào giỏ hàng");
            }
            else if(checkSoLuong == false){
                alert("Yêu cầu không thể đáp ứng");
            }
            else{
                location.href = 'CheckOut';
            }
        }
        //const elements = document.querySelectorAll(".pro-qty-2");
        
        //for (var i = 0; i < elements.length; i++) {
        //    elements[i].addEventListener('click', UpdateCart);
        //    console.log(elements[i]);
        //}
    </script>
    <!-- Shopping Cart Section End -->

 