@using AppData.ViewModels.SanPham;
@using AppData.Models;
@using X.PagedList.Mvc.Core;
@using AppData.ViewModels.SanPham;
@model X.PagedList.IPagedList<SanPhamViewModel>

@{
    ViewData["Title"] = "Privacy Policy";
    var listLoaiSP = ViewData["listLoaiSP"] as List<LoaiSP>;
    Layout = "_Layout";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form id="search-filter">
                            <input type="text" oninput="Filtered()" placeholder="Tìm kiếm theo tên..." name="ten" id="search">
                            <span class="icon_search"></span>
                        </form>

                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                @if(listLoaiSP != null)
                                {
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <div class="shop__sidebar__tags" id="LoaiSpFilter">
                                                    @foreach (var item in listLoaiSP)
                                                    {
                                                        //<a onclick="Filtered()" value="@item.ID" >@item.Ten</a>
                                                        //<button type="button" onclick="Filtered()" value="@item.ID" class="btn btn-primary loaisp">@item.Ten</button>
                                                        <input type="checkbox" onchange="Filtered()" class="btn-check loaisp btn-check-outlined" id="btn-check-outlined+'@item.ID'" val="@item.Ten" autocomplete="off">
                                                        <label class="btn btn-outline-primary" for="btn-check-outlined+'@item.ID'">@item.Ten</label>

                                                        <br>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }  
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div>
                                            <ul id="filter-price" onchange="Filtered()">
                                                <li><input type="checkbox" onchange="checkedValidate()" id="price-all" val="all" checked /> Tất cả</li>
                                                <li><input type="checkbox" id="price-1" val="1" /> Dưới 100.000 VNĐ</li>
                                                <li><input type="checkbox" id="price-2" val="2" /> 100.000 - 200.000 VNĐ</li>
                                                <li><input type="checkbox" id="price-3" val="3" /> 200.000 - 300.000 VNĐ</li>
                                                <li><input type="checkbox" id="price-4" val="4" /> 300.000 - 400.000 VNĐ</li>
                                                <li><input type="checkbox" id="price-5" val="5" /> 400.000 - 500.000 VNĐ</li>
                                                <li><input type="checkbox" id="price-6" val="6" /> Trên 500.000 VNĐ</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">
                                                xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">
                                                s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">
                                                m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">
                                                xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">
                                                2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">
                                                xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">
                                                3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">
                                                4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashio</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing @Model.Count() result</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            @*<div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>*@
                        </div>
                    </div>
                </div>
                    <div class="row" id="filtered-products">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                    <img src="/img/product/product-2.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <h6>@item.Ten</h6>
                                    <a onclick="addCart('@item.IdChiTietSanPham')" class="add-cart">+ ADD TO CART</a>
                                    <h5 style="color:red">@item.GiaBan.ToString("n0") VND</h5>
                                    </div>
                                </div>
                            </div>
                        }
                    
                    </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active">
                                @Html.PagedListPager(Model,page=>Url.Action("Shop",new {pages=page}))
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    function addCart(idBT)
    {
        $.ajax({
            async: true,
            type: 'POST',
            dataType: "json",
            data: {id: idBT},
            url: '/Home/AddToCart',
            success: function(response)
            {
                if(response.success == true){
                    toastr.success(response.message, 'Success Alert', {timeOut : 300});
                }else{
                    toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                }
            },
            error: function(response)
            {
                console.log(response);
                toastr.error(response.message, 'Error Alert', { timeOut: 300 });
            }
        });
    }
    function filterLoaiSP(){
        var checkboxes = $('#LoaiSpFilter input[type="checkbox"]:checked')
        var value = []
        checkboxes.each(function () {
            value.push($(this).attr('val'))
        })
        return value
    }
    //function checkedValidate(){
    //    var all = document.getElementById("price-all");
    //    var all1 = document.getElementById("price-1");
    //    var all2 = document.getElementById("price-2");
    //    var all3 = document.getElementById("price-3");
    //    var all4 = document.getElementById("price-4");
    //    var all5 = document.getElementById("price-5");
    //    var all6 = document.getElementById("price-6");
    //    if (all.checked == true) {
    //        all1.cheked = false
    //        all2.cheked = false
    //        all3.cheked = false
    //        all4.cheked = false
    //        all5.cheked = false
    //        all6.cheked = false
    //    }
    //}
    function Filter(formId){
        var checkboxes = $('#filter-price input[type="checkbox"]:checked')
        var value = []
        checkboxes.each(function(){
            value.push($(this).attr('val'))
        })
        return value
    }
    function Search(){
        var name = document.getElementById("search").value
        return name
    }
    function Filtered() {
        var PriceRange = Filter("filter-price");
        var searchfilter = Search();
        var idloaiSp = filterLoaiSP();
        var data = {
            priceRange: PriceRange,
            search: searchfilter,
            loaiSP: idloaiSp
        }
        fetch("/Home/GetFilteredProducts", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(function (reponse) {
            if (reponse.ok) {
                return reponse.text();
            } else {
                throw new Error("Error sending data to controller");
            }
        }).then(function (result) {
            $("#filtered-products").html(result);
        }).catch(function (error) {
            console.log("An error occured", error)
        })
    }
</script>
