@model IEnumerable<AppData.ViewModels.SanPham.SanPhamViewModelAdmin>

@{
    ViewData["Title"] = "ProductManager";
}

<h1>Quản lý sản phẩm</h1>

<div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên
            </th>
            <th>
                Mã
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Số lượng 
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Ten
                </td>
                <td>
                    @item.Ma
                </td>
                <td>
                    <img src="~/img/product/@item.Anh" style="width:70px;height:70px" />
                </td>
                <td>
                    @item.GiaGoc
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.SoLuong
                </td>
                <td>
                    @item.ChatLieu
                </td>
                <td>
                    @item.LoaiSP
                </td>
                <td>
                    @if (item.TrangThai == 1)
                    {
                        <span style="color:green">Hoạt động</span>
                    }
                    else if(item.TrangThai == 0)
                    {
                        <span style="color:red">Không hoạt động</span>
                    }
                </td>
                <td style="width:200px">
                    <a asp-action="ProductDetail" class="btn btn-primary" asp-route-idSanPham="@item.ID">Chi tiết</a>
                    @if (item.TrangThai == 1)
                    {
                        <a asp-action="UpdateTrangThaiSanPham" class="btn btn-danger" asp-route-idSanPham="@item.ID" asp-route-trangThai="0">Xoá</a>
                    }
                    else if (item.TrangThai == 0)
                    {
                        <a asp-action="UpdateTrangThaiSanPham" class="btn btn-success" asp-route-idSanPham="@item.ID" asp-route-trangThai="1">Hoàn tác</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a asp-action="AddSanPham" class="btn btn-primary">Thêm sản phẩm</a>
</div>
