@model IEnumerable<AppData.ViewModels.SanPham.SanPhamViewModel>

@{
    ViewData["Title"] = "ProductManager";
}

<h1>Quản lý sản phẩm</h1>

<div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChiTietSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/product/@item.Image" style="width:70px;height:70px"/>
                </td>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Ten
                </td>
                <td>
                    @item.TrangThai
                </td>
                <td>
                    @item.LoaiSP
                </td>
                <td>
                    @item.IdChiTietSanPham
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.GiaGoc
                </td>
                <td style="width:150px">
                    @* @Html.ActionLink("Details", "ProductDetail", new {  idSanPham=item.ID  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    <a asp-action="ProductDetail" class="btn btn-primary" asp-route-idSanPham="@item.ID">Chi tiết</a>
                    <a asp-action="ProductDetail" class="btn btn-danger" asp-route-idSanPham="@item.ID">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a asp-action="AddSanPham" class="btn btn-primary">Thêm sản phẩm</a>
</div>
