@model IEnumerable<AppData.ViewModels.SanPham.ChiTietSanPhamViewModelAdmin>

@{
    ViewData["Title"] = "ProductDetail";
    string idSanPham = TempData["IDSanPham"] as string;
}

<h1>Chi tiết sản phẩm</h1>

<form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaMauSac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKichCo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKhuyenMai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MaMauSac
                    </td>
                    <td>
                        @item.TenKichCo
                    </td>
                    <td>
                        @item.SoLuong
                    </td>
                    <td>
                        @item.GiaBan
                    </td>
                    <td>
                        @item.NgayTao
                    </td>
                    <td>
                        @item.TenKhuyenMai
                    </td>
                    <td>
                        <a asp-action="AddChiTietSanPham" asp-route-idSanPham="@idSanPham" class="btn btn-secondary">Tạo mã QR</a>
                        <a asp-action="AddChiTietSanPham" asp-route-idSanPham="@idSanPham" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<div class="d-flex justify-content-end">
    <a asp-action="AddChiTietSanPham" asp-route-idSanPham="@idSanPham" class="btn btn-secondary">Tạo mã QR</a>
    <a asp-action="QuanLyAnh" asp-route-idSanPham="@idSanPham" class="btn btn-success" style="margin-left:5px">Quản lý ảnh</a>
    <a asp-action="AddChiTietSanPham" asp-route-idSanPham="@idSanPham" class="btn btn-primary" style="margin-left:5px">Thêm chi tiết sản phẩm</a>
</div>


