@model AppData.ViewModels.BanOffline.ChiTietSanPhamBanHang

@{
    ViewData["Title"] = "View";
    <style>
        .button-value {
            border: 2px solid #b3d4fc;
            padding: 0.5em 1.5em;
            border-radius: 3em;
            background-color: transparent;
            color: #6759ff;
            cursor: pointer;
        }

            .button-value:hover {
                border: 2px solid #6759ff;
                background: #b3d4fc;
            }

            .button-value.active {
                background-color: #6759ff;
                color: #ffffff;
            }
    </style>
}
<div class="d-flex flex-column p-1 h-100">
    <h4><b>@Model.Ten</b></h4>
    <!--Màu sắc-->
    <div class="d-flex flex-row p-2" style="border: none; border-bottom: 2px dashed #ced4da;">
        <div class="d-flex align-items-center" style="width:140px">
            <h6 class="fw-bold">MÀU SẮC</h6>
        </div>
        <div class="flex-grow-1 align-content-start">
            <div id="buttons">
                @foreach (var ms in @Model.lstMau)
                {
                    <button class="button-value mb-1">
                        @ms.Ten
                    </button>
                }
            </div>
        </div>
    </div>
    <!--Kích thước-->
    <div class="d-flex flex-row p-2">
        <div class="d-flex align-items-center" style="width:140px">
            <h6 class="fw-bold">KÍCH THƯỚC</h6>
        </div>
        <div class="flex-grow-1 align-content-start">
            <div id="buttons">
                @foreach (var kc in @Model.lstKC)
                {
                    <button class="button-value mb-1" onclick="Filter('@kc.ID')">
                        @kc.Ten
                    </button>
                }
            </div>
        </div>
    </div>
    <!--Chi tiết sản phẩm-->
    <div class="d-flex flex-row p-2 mt-auto " style="height:300px">
        <div class="d-flex align-content-around flex-wrap w-100 overflow-auto" id="lstChiTietSP">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        loadCTSPByID();
    })
    function loadCTSPByID() {
        var modelId = '@Model.Id';
      $.ajax({
        url: "/BanHangTaiQuay/ShowListCTSP/"+modelId,
        type: "GET",
        dataType: "json",
        success: function(response) {
          $("#lstChiTietSP").empty();
          response.data.forEach(function(item) {
            var html = `
              <div class="d-flex flex-column p-2 border-0 rounded-3 mb-3 ctspitem" style="width:25%;height:300px;font-size:14px" onclick="addCTSP('${item.id}','${item.giaBan}')">
                <div class="flex-shrink-0 w-100" style="height:180px">
                  <img src="/img/product/${item.anh}" style="display: block; object-fit: cover;background-position: center; max-width: 100%; max-height: 180px;">
                </div>
                <div class="flex-shrink-0 mt-3 p-1">
                  <h6>${item.ten} <span style="color:#f28322; font-size:14px">${item.chiTiet}</span></h6>
                  ${item.giaBan === item.giaGoc
                    ? `<span style="flex-basis: 59.5%;"><b style="color:blue; font-weight:700">${item.giaBan.toLocaleString()}</b></span>
                       <span style="flex-basis: 49.5%;padding-left:20px">SL: ${item.soLuong}</span>`
                    : `<span style="flex-basis: 59.5%;"><b style="color:blue; font-weight:700">${item.giaBan.toLocaleString()}</b></span>
                       <span style="flex-basis: 49.5%;padding-left:20px">SL: ${item.soLuong}</span>
                       <span style="flex-basis: 59.5%;"><del>${item.giaGoc.toLocaleString()}</del></span>`
                  }
                </div>
              </div>
            `;
            $("#lstChiTietSP").append(html);
          });
        },
        error: function(err) {
          console.log('Error:', err);
        }
      });
    }
</script>
