@using AppData.Models
@model AppData.ViewModels.BanOffline.HoaDonThanhToanViewModel
@{
}
<div class="d-flex flex-column" style="height:100%;font-size:18px">
    <span id="idvoucher" hidden></span>
    <form class="row g-3 p-2 formthanhtoan">
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill text-start"><span id="nhanVien"></span>NV: @Model.NhanVien</div>
            <div class="flex-fill text-end"><span id="ngay"></span>@Model.NgayThanhToan?.ToString("dd/MM/yyyy HH:mm")</div>
        </div>
        <hr />
        <div class="d-flex flex-column lh-1">

            <h4 style="color:#007bff" class="form-label fw-bold">@Model.KhachHang</h4>
            <div class="d-flex flex-row">
                @if (@Model.KhachHang != "Khách lẻ")
                {
                    <div>
                        <label class="badge bg-success">Điểm: @Model.DiemKH</label>
                    </div>
                    <div class="ms-auto">
                        <div id="tdhd" class="badge bg-primary">
                            Điểm tích hóa đơn:
                            <span id="tichdiemhd" class="text-white"></span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label">Số lượng</label></div>
            <div class="flex-fill text-end"> <span id="soLuong">@Model.TongSL</span></div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label">Tổng tiền hàng</label></div>
            <div class="flex-fill text-end"><span id="tongTienHang"></span></div>
        </div>

        @if (@Model.KhachHang != "Khách lẻ")
        {
            <div class="d-flex flex-row lh-1">
                <div class="col-4">
                    <div class="flex-fill">
                        <label class="form-label">
                            Điểm
                             <i class="bx bx-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Áp dụng tối đa 30% giá trị đơn hàng"></i>
                            <label class="badge bg-success">
                                Tối đa: <span class="text-white" id="dtoida"></span>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-check form-switch swithTichdiem me-auto">
                        <input class="form-check-input" type="checkbox">
                    </div>
                </div>
                <div class="col-3">
                    <div class="flex-fill  me-auto text-end"><input type="number" min="0" placeholder="Nhập điểm" id="diemKHSD" /></div>
                </div>
                <div class="col-4">
                    <div class="flex-fill text-end"><span id="tientrutichdiem"></span></div>
                </div>
            </div>
        }
        <div id="tienkhuyenmai">
            <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label class="form-label">Khuyễn mãi voucher: </label></div>
                <div class="flex-fill text-end"><span id="giatrivoucher"></span></div>
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label fw-bold">Khách cần trả</label></div>
            <div class="flex-fill text-end">
                <span id="khachCanTra" style="font-size:20px;font-weight:bold"></span>
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="col-4">
                <div class="flex-fill"><label for="inputState" class="form-label">Thanh toán </label></div>
            </div>
            <div class="col-8">
                <div class="d-flex flex-row lh-1">
                    <div class="flex-fill m-2">
                        <input class="form-check-input" type="radio" name="pttt" value="Tiền mặt" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Tiền mặt
                        </label>
                    </div>
                    <div class="flex-fill m-2">
                        <input class="form-check-input" type="radio" name="pttt" value="Chuyển khoản">
                        <label class="form-check-label" for="gridRadios1">
                            Chuyển khoản
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-column mt-auto">
        <div class="d-flex flex-row p-3">
            <div class="col-8" id="voucherinput">
                <div class="input-group">
                    <input type="text" class="form-control border border-dark" placeholder="Nhập voucher" id="valuevoucher" />
                    <button type="button" class="btn btn-primary" id="usevoucher">Áp dụng</button>
                </div>
            </div>
            <div class="col-4 ms-auto">
                <button class="btn btn-secondary w-100" id="btn-showvoucher">
                    Nhập voucher
                </button>
            </div>
        </div>
        <button type="button" onclick="thanhToan('@Model.Id')" class="btn btn-primary fw-bold btn-block w-100" style="height:60px; font-size:24px">THANH TOÁN</button>
    </div>
</div>
<script>

    $(document).ready(function(){
        $("#tichdiemhd").text(@(Model.DiemTichHD));
        let diemtoida = (@(Model.TongTien)*0.3)/ @(ViewBag.TLTieu);
        if(diemtoida >= @(Model.DiemKH)){
            diemtoida = @(Model.DiemKH);
        }
        $("#dtoida").text(diemtoida);
         //Tự động áp điểm
        $('.swithTichdiem input[type="checkbox"]').on('click', function(event, state){
            if($(this).is(':checked')){
               $('#diemKHSD').val(diemtoida);
                $("tichdiemhd").text("");
                $("#tdhd").css('display', 'none');
               $('#tientrutichdiem').text((diemtoida*@(ViewBag.TLTieu)).toLocaleString());
            }else{
                 $('#diemKHSD').val('');
                  $("#tdhd").css('display', 'block');
                    $("#tichdiemhd").text(@(Model.DiemTichHD));
                    $("#tichdiemhd").text(@(Model.DiemTichHD));
                $('#tientrutichdiem').text(0);

            }
            TinhTien();
        })
        TinhTien();
        //Áp dụng tích điểm
        $('#diemKHSD').on("input",function(){
            var diem = $(this).val();
            var tien = diem * @(ViewBag.TLTieu);
            if(@(ViewBag.LoaiQDD) === 1){ // Chỉ tích hoặc tiêu
                if($(this).val() ===''){ // không nhập
                    $('#tientrutichdiem').text(0);
                    $("#tdhd").css('display', 'block');
                    $("#tichdiemhd").text(@(Model.DiemTichHD));
                }
                else if($(this).val() > diemtoida){
                    $('#tientrutichdiem').text();
                    toastr.error('Số điểm vượt quá số điểm tối đa cho phép', "Error Alert", { timeOut: 1000 });
                }else if($(this).val() > @(Model.DiemKH)){
                    toastr.error('Số điểm không đủ', "Error Alert", { timeOut: 1000 });
                }else{
                   if(@(Model.TongTien) !== 0){
                       $("tichdiemhd").text("");
                       $("#tdhd").css('display', 'none');
                       $('#tientrutichdiem').text(tien.toLocaleString());
                   }else{
                       toastr.error('Chưa có sản phẩm thanh toán', "Error Alert", { timeOut: 1000 });
                       $(this).val('');
                   }
                }
            }else if(@(ViewBag.LoaiQDD) === 2){ // Vừa tích vừa tiêu
                if(@(Model.TongTien) !== 0){
                    if($(this).val() > diemtoida){
                        $('#tientrutichdiem').text(0);
                        toastr.error('Số điểm vượt quá số điểm tối đa cho phép', "Error Alert", { timeOut: 1000 });
                    }
                    else if($(this).val() > @(Model.DiemKH)){
                        toastr.error('Số điểm không đủ', "Error Alert", { timeOut: 1000 });
                    }else{
                        $('#tientrutichdiem').text(tien.toLocaleString());
                    }
                }else{
                    toastr.error('Chưa có sản phẩm thanh toán', "Error Alert", { timeOut: 1000 });
                }
            }
            TinhTien();
        })
        // Hiện nhập voucher
        $("#btn-showvoucher").on("click", function() {
          var voucherInput = $("#voucherinput");
          if (voucherInput.css('display') === 'none') {
            voucherInput.css('display', 'block');
            $(this).text('Hủy áp dụng');
          } else {
            voucherInput.css('display', 'none');
            $("#idvoucher").text('');
            $("#tienkhuyenmai").css('display', 'none');
            $("#giatrivoucher").text('');
            $("#valuevoucher").val('');
            $("#vldvoucher").text('');
            $(this).text('Nhập voucher');
          }
          TinhTien();
        });
        //Áp dụng voucher
        $("#usevoucher").on("click",function(){
            var tongtien = @Model.TongTien;
            var value = $("#valuevoucher").val();
            if(value ===''){
                    toastr.error("Chưa nhập voucher áp dụng", "Error Alert", { timeOut: 1000 });
            }else{
                $.ajax({
                url: "/BanHangTaiQuay/CheckVoucher",
                type: "GET",
                data:{
                voucher: value,
                ttien:tongtien,
                },
                dataType: "json",
                success: function(response) {
                    if(response.success === true){
                        toastr.success(response.message, "Success Alert", { timeOut: 1000 });
                        $("#idvoucher").text(response.idvoucher);
                        $("#tienkhuyenmai").css('display', 'block');
                        $("#giatrivoucher").text(response.giatri.toLocaleString());
                    }else{
                        toastr.error(response.message, "Error Alert", { timeOut: 1000 });
                        $("#idvoucher").val('');
                        $("#tienkhuyenmai").css('display', 'none');
                        $("#giatrivoucher").text('');
                    }
                    TinhTien();
                }
                ,
                error: function(response){
                    toastr.error(response.message, "Error Alert", { timeOut: 1000 });
                },
                });
            }
        })
    })


        //Tính tiền
       function TinhTien() {
            var tt = @Model.TongTien;
            $("#tongTienHang").text(tt.toLocaleString());
            var trutd = $("#tientrutichdiem").text() === '' ? 0 : parseInt($("#tientrutichdiem").text().replace(/,/g, ""));
            var voucher = $("#giatrivoucher").text() === '' ? 0 : parseInt($("#giatrivoucher").text().replace(/,/g, ""));
            var tienkhachtra = tt - trutd - voucher;
            $("#khachCanTra").text(tienkhachtra.toLocaleString());
        }
</script>