@using AppData.Models
@model AppData.ViewModels.BanOffline.HoaDonThanhToanViewModel
@{
    // var lstPttt = ViewData["lstPttt"] as List<PhuongThucThanhToan>;
    <style>
        #voucherinput {
            display: none;
        }

        #tienkhuyenmai {
            display: none;
        }

        #sdtd {
            display: block;
        }

        #diemKHSD {
            width: 100px;
            text-align: right;
            border: none;
            border-bottom: 2px solid #2c384e;
            display: inline-block;
            vertical-align: middle;
        }

            #diemKHSD::-webkit-outer-spin-button,
            #diemKHSD::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            #diemKHSD:focus {
                border: none;
                border-bottom: 3px solid #4154f1;
                outline: none;
            }

    </style>
}
<div class="d-flex flex-column" style="height:100%;font-size:18px">
    <span id="idvoucher" hidden></span>
    <form class="row g-3 p-2 formthanhtoan">
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill text-start"><span id="nhanVien"></span>NV: @Model.NhanVien</div>
            <div class="flex-fill text-end"><span id="ngay"></span>@Model.NgayThanhToan</div>
        </div>
        <hr />
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label for="inputName5" class="form-label ">Mã HD: @Model.MaHD</label></div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label for="inputName5" class="form-label">Khách hàng</label></div>
            <div class="flex-fill text-end"> <span id="tenkh">@Model.KhachHang</span></div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label">Số lượng</label></div>
            <div class="flex-fill text-end"> <span id="soLuong">@Model.TongSL</span></div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label for="inputEmail5" class="form-label">Tổng tiền hàng</label></div>
            <div class="flex-fill text-end"><span id="tongTienHang"></span></div>
        </div>

        @if (@Model.KhachHang != "Khách lẻ")
        {
            <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label for="inputEmail5" class="form-label">Điểm của khách hàng: </label></div>
                <div class="flex-fill text-end"><span>@Model.DiemKH</span></div>
            </div>
            <div class="d-flex flex-row lh-1">
                <div class="col-4">
                    <div class="flex-fill"><label for="inputEmail5" class="form-label">Điểm sử dụng</label></div>
                </div>
                <div class="col-4">
                    <div class="flex-fill  me-auto text-end"><input type="number" id="diemKHSD" /></div>
                </div>
                <div class="col-4">
                    <div class="flex-fill text-end"><span id="tientrutichdiem"></span></div>

                </div>
            </div>
            @* <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label for="inputEmail5" class="form-label">Tiền trừ tích điểm: </label></div>
                <div class="flex-fill text-end"><span id="tientrutichdiem"></span></div>
                </div>*@
            <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label for="inputEmail5" class="form-label">Tích điểm hóa đơn: </label></div>
                <div class="flex-fill text-end"><span id="diemtichhd">@Model.DiemTichHD</span></div>
            </div>
        }
        <div id="tienkhuyenmai">
            <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label class="form-label">Khuyễn mãi voucher: </label></div>
                <div class="flex-fill text-end"><span id="giatrivoucher"></span></div>
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label for="inputEmail5" class="form-label">Khách cần trả</label></div>
            <div class="flex-fill text-end">
                <span id="khachCanTra"></span>
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="col-4">
                <div class="flex-fill"><label for="inputState" class="form-label">Thanh toán </label></div>
            </div>
            <div class="col-8">
                <div class="d-flex flex-row lh-1">
                    <div class="flex-fill m-2">
                        <input class="form-check-input" type="radio" name="pttt" value="Tiền mặt" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Tiền mặt
                        </label>
                    </div>
                    <div class="flex-fill m-2">
                        <input class="form-check-input" type="radio" name="pttt" value="Chuyển khoản">
                        <label class="form-check-label" for="gridRadios1">
                            Chuyển khoản
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex flex-column mt-auto">
        <div class="mt-auto text-danger p-3" id="notification"></div>
        <div class="d-flex flex-row p-3">
            <div class="col-8" id="voucherinput">
                <div class="input-group">
                    <input type="text" class="form-control border border-dark" placeholder="Nhập voucher" id="valuevoucher" />
                    <button type="button" class="btn btn-primary" id="usevoucher">Áp dụng</button>
                </div>
                <div class="mt-auto text-danger" id="vldvoucher"></div>
            </div>
            <div class="col-4 ms-auto">
                <button class="btn btn-secondary w-100" id="btn-showvoucher">
                    Nhập voucher
                </button>
            </div>
        </div>
        <button type="button" onclick="thanhToan('@Model.Id')" class="btn btn-primary fw-bold btn-block w-100" style="height:60px; font-size:24px">THANH TOÁN</button>
    </div>
</div>
<script>
    $(document).ready(function(){
        TinhTien();
    })
        //Tính tiền
       function TinhTien() {
            var tt = @Model.TongTien;
            $("#tongTienHang").text(tt.toLocaleString());
            var trutd = $("#tientrutichdiem").text() === '' ? 0 : parseInt($("#tientrutichdiem").text().replace(/,/g, ""));
            var voucher = $("#giatrivoucher").text() === '' ? 0 : parseInt($("#giatrivoucher").text().replace(/,/g, ""));
            var tienkhachtra = tt - trutd - voucher;
            $("#khachCanTra").text(tienkhachtra.toLocaleString().replace('.', ','));
        }
        //Áp dụng tích điểm
        $('#diemKHSD').on("input",function(){
            var diemkh = parseInt('@Model.DiemKH');
            var tienhang = parseInt('@Model.TongTien');
            if($(this).val() ===''){
                $("#tientrutichdiem").text('');
                $("#notification").text('');
            }else if($(this).val() > diemkh){
                $("#notification").text('Điểm dùng không đủ');
            }
            else{
               if(tienhang !== 0){
                   var diem = $(this).val();
                   var tltieu = @(ViewBag.tileTieu);
                   var tien = diem * tltieu;
                   $('#tientrutichdiem').text(tien.toLocaleString());
                   $("#notification").text('');
               }else{
                   $("#notification").text('Chưa chọn sản phẩm mua hàng');
                   $(this).val('');
               }
            }
            TinhTien();
        })
        // Hiện nhập voucher
        $("#btn-showvoucher").on("click", function() {
          var voucherInput = $("#voucherinput");
          if (voucherInput.css('display') === 'none') {
            voucherInput.css('display', 'block');
            $(this).text('Hủy áp dụng');
          } else {
            voucherInput.css('display', 'none');
            $("#idvoucher").text('');
            $("#tienkhuyenmai").css('display', 'none');
            $("#giatrivoucher").text('');
            $("#valuevoucher").val('');
            $("#vldvoucher").text('');
            $(this).text('Nhập voucher');
          }
          TinhTien();
        });
        //Áp dụng voucher
        $("#usevoucher").on("click",function(){
            var tongtien = @Model.TongTien;
            var value = $("#valuevoucher").val();
            if(value ===''){
                $("#vldvoucher").text('Chưa nhập voucher áp dụng');
            }else{
                $.ajax({
                url: "/BanHangTaiQuay/CheckVoucher",
                type: "GET",
                data:{
                voucher: value,
                ttien:tongtien,
                },
                dataType: "json",
                success: function(response) {
                    if(response.success === true){
                        $("#idvoucher").text(response.idvoucher);
                        $("#vldvoucher").text(response.message);
                        $("#tienkhuyenmai").css('display', 'block');
                        $("#giatrivoucher").text(response.giatri.toLocaleString());
                    }else{
                        $("#vldvoucher").text(response.message);
                        $("#idvoucher").val('');
                        $("#tienkhuyenmai").css('display', 'none');
                        $("#giatrivoucher").text('');
                    }
                    TinhTien();
                }
                ,
                error: function(response){
                    $("#vldvoucher").text(response.message);
                },
                });
            }
        })
</script>