@using AppData.Models
@using AppData.ViewModels
@model AppData.ViewModels.BanOffline.HoaDonThanhToanViewModel
@{
    <style>
        ul {
            list-style-type: none;
        }

        .radio-section {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .radio-item [type="radio"] {
            display: none;
        }

        .radio-item {
            margin-bottom: 10px;
        }

            .radio-item + .radio-item {
                margin-top: 15px;
            }

            .radio-item label {
                display: block;
                padding: 20px 60px;
                background: #b4cfec;
                border: 2px solid rgba(255,255,255,0.1);
                border-radius: 6px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                min-width: 250px;
                white-space: nowrap;
                position: relative;
            }

                .radio-item label:after,
                .radio-item label:before {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                }

                .radio-item label:after {
                    height: 20px;
                    width: 20px;
                    border: 2px solid #524eee;
                    left: 20px;
                    top: calc(50% - 12px);
                }

                .radio-item label:before {
                    background: #524eee;
                    height: 10px;
                    width: 10px;
                    left: 25px;
                    top: calc(50% - 7px);
                    transform: scale(5);
                    transition: .4s ease-in-out 0s;
                    opacity: 0;
                    visibility: hidden;
                }

            .radio-item [type="radio"]:checked ~ label {
                border-color: #0d6efd;
            }

                .radio-item [type="radio"]:checked ~ label:before {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
    </style>

    var lstvc = ViewData["LstVoucher"] as List<Voucher>;
}
<div class="d-flex flex-column" style="height:100%;font-size:18px">
    <span id="idvoucher" hidden></span>
    <form class="row g-3 p-2 formthanhtoan">
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill text-start"><span id="nhanVien"></span>NV: @Model.NhanVien</div>
            <div class="flex-fill text-end"><span id="ngay"></span>@Model.NgayThanhToan?.ToString("dd/MM/yyyy HH:mm")</div>
        </div>
        <hr />
        <div class="d-flex flex-column lh-1">

            <h4 style="color:#007bff" class="form-label fw-bold">@Model.KhachHang</h4>
            <div class="d-flex flex-row">
                @if (@Model.KhachHang != "Khách lẻ")
                {
                    <div>
                        <label class="badge bg-success">Điểm: @Model.DiemKH</label>
                    </div>
                    <div class="ms-auto">
                        <div id="tdhd" class="badge bg-primary">
                            Điểm tích hóa đơn:
                            <span id="tichdiemhd" class="text-white"></span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label">Số lượng</label></div>
            <div class="flex-fill text-end"> <span id="soLuong">@Model.TongSL</span></div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label">Tổng tiền hàng</label></div>
            <div class="flex-fill text-end"><span id="tongTienHang"></span></div>
        </div>

        @if (@Model.KhachHang != "Khách lẻ")
        {
            <div class="d-flex flex-row lh-1">
                <div class="col-4">
                    <div class="flex-fill">
                        <label class="form-label">
                            Điểm
                            <i class="bx bx-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Áp dụng tối đa 20% giá trị đơn hàng"></i>
                            <label class="badge bg-success">
                                Tối đa: <span class="text-white" id="dtoida"></span>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-check form-switch swithTichdiem me-auto">
                        <input class="form-check-input" type="checkbox">
                    </div>
                </div>
                <div class="col-3">
                    <div class="flex-fill  me-auto text-end">
                        <input class="inputnhap" type="number" id="diemKHSD" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="flex-fill text-end"><span id="tientrutichdiem"></span></div>
                </div>
            </div>
        }
        <div id="tienkhuyenmai">
            <div class="d-flex flex-row lh-1">
                <div class="flex-fill"><label class="form-label">Khuyễn mãi voucher: </label></div>
                <div class="flex-fill text-end"><span id="giatrivoucher"></span></div>
            </div>
        </div>
        <div class="d-flex flex-row lh-1">
            <div class="flex-fill"><label class="form-label fw-bold">Khách cần trả</label></div>
            <div class="flex-fill text-end">
                <span id="khachCanTra" style="font-size:20px;font-weight:bold"></span>
            </div>
        </div>
        @if (Model.TongSL != 0)
        {
            <div class="d-flex flex-row lh-1">
                <div class="col-4">
                    <div class="flex-fill"><label for="inputState" class="form-label">Thanh toán </label></div>
                </div>
                <div class="col-8">
                    <div class="d-flex flex-row lh-1">
                        <div class="flex-fill m-2">
                            <input class="form-check-input" type="radio" name="pttt" value="Tiền mặt" checked onchange="chonPTTT()">
                            <label class="form-check-label" for="gridRadios1">
                                Tiền mặt
                            </label>
                        </div>
                        <div class="flex-fill m-2">
                            <input class="form-check-input" type="radio" name="pttt" value="Chuyển khoản" onchange="chonPTTT()">
                            <label class="form-check-label" for="gridRadios1">
                                Chuyển khoản
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tienmat">
                <div class="d-flex flex-row lh-1">
                    <div class="flex-fill"><label class="form-label fw-bold">Khách đưa</label></div>
                    <div class="flex-fill text-end">
                        <input class="inputnhap" type="number" min="0" id="khachdua" oninput="khachDua(this.value);" style="width:120px; font-size:20px;font-weight:bold" />
                    </div>
                </div>
            </div>
            <div id="tienmattrakhach">
                <div class="d-flex flex-row lh-1">
                    <div class="flex-fill"><label class="form-label">Tiền thừa trả khách</label></div>
                    <div class="flex-fill text-end">
                        <div class="flex-fill text-end"><span id="tientrakhach"></span></div>
                    </div>
                </div>
            </div>

        }
    </form>
    <div class="d-flex flex-column mt-auto">
        @if (lstvc.Count != 0)
        {
            <div class="d-flex">
                <label for="inputState" class="form-label">Voucher áp dụng </label>
            </div>
            <div class="d-flex flex-row">
                <section class="radio-section">
                    <div class="radio-list" style="height:170px;width:552px; overflow-y: scroll; overflow-x: hidden">
                        <div class="row p-2">
                            @foreach (var item in lstvc)
                            {
                                <div class="col-6">
                                    <div class="radio-item">
                                        <input type="radio" name="radiovoucher" id="@item.ID" onchange="checkVoucher()">
                                        @if (item.HinhThucGiamGia == 1)
                                        {
                                            <label for="@item.ID">Giảm @item.GiaTri %</label>
                                        }
                                        else
                                        {
                                            <label for="@item.ID">Giảm @item.GiaTri.ToString("n0") VNĐ</label>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
                @*            <div class="col-8" id="voucherinput">
                    <div class="input-group">
                    <input type="text" class="form-control border border-dark" placeholder="Nhập voucher" id="valuevoucher" />
                    <button type="button" class="btn btn-primary" id="usevoucher">Áp dụng</button>
                    </div>
                    </div>
                    <div class="col-4 ms-auto">
                    <button class="btn btn-secondary w-100" id="btn-showvoucher">
                    Nhập voucher
                    </button>
                    </div>
                *@
            </div>

        }
        <button type="button" onclick="thanhToan('@Model.Id')" class="btn btn-primary fw-bold btn-block w-100" style="height:60px; font-size:24px">THANH TOÁN</button>
    </div>
</div>
<script>

    $(document).ready(function(){
        $("#tichdiemhd").text(@(Model.DiemTichHD));
        let diemtoida = 0;
        if(@(ViewBag.TLTieu) !== 0 ){
            diemtoida = parseInt((@(Model.TongTien)*0.2)/ @(ViewBag.TLTieu));
        }
        if(diemtoida >= @(Model.DiemKH)){
            diemtoida = @(Model.DiemKH);
        }
        $("#dtoida").text(diemtoida);

         //Tự động áp điểm
        $('.swithTichdiem input[type="checkbox"]').on('click', function(event, state){
            if(@(ViewBag.LoaiQDD) === 1){ // Chỉ tích hoặc tiêu
                if($(this).is(':checked')){
                   $('#diemKHSD').val(diemtoida);
                   $("#tdhd").css('display', 'none');
                   $("#tichdiemhd").text("");
                   $('#tientrutichdiem').text(Intl.NumberFormat().format(diemtoida*@(ViewBag.TLTieu)));
                }else{
                     $('#diemKHSD').val('');
                     $("#tdhd").css('display', 'block');
                     $("#tichdiemhd").text(@(Model.DiemTichHD));
                     $('#tientrutichdiem').text(0);
                }
            }else if(@(ViewBag.LoaiQDD) === 2){// Vừa tích vừa tiêu
                if($(this).is(':checked')){
                   $('#diemKHSD').val(diemtoida);
                   $("#tdhd").css('display', 'block');
                   $("#tichdiemhd").text(@(Model.DiemTichHD));
                   $('#tientrutichdiem').text(Intl.NumberFormat().format(diemtoida*@(ViewBag.TLTieu)));
                }else{
                     $('#diemKHSD').val('');
                     $("#tdhd").css('display', 'block');
                     $("#tichdiemhd").text(@(Model.DiemTichHD));
                     $('#tientrutichdiem').text(0);
                }
            }
            TinhTien();
        })
        TinhTien();
        //Áp dụng tích điểm
        $('#diemKHSD').on("input",function(){
            var diem = $(this).val();
            var tien = diem * @(ViewBag.TLTieu);
            if(@(ViewBag.LoaiQDD) === 1){ // Chỉ tích hoặc tiêu
                if($(this).val() ===''){ // không nhập
                    $('#tientrutichdiem').text(0);
                    $("#tdhd").css('display', 'block');
                    $("#tichdiemhd").text(@(Model.DiemTichHD));
                }
                else if(diem < 0){
                    toastr.error('Số điểm nhập không hợp lệ', "Error Alert", { timeOut: 1000 });
                    $('#tientrutichdiem').text(0);
                }else if(diem > diemtoida){
                    $('#tientrutichdiem').text();
                    toastr.error('Số điểm vượt quá số điểm tối đa cho phép', "Error Alert", { timeOut: 1000 });
                }else if(diem> @(Model.DiemKH)){
                    toastr.error('Số điểm không đủ', "Error Alert", { timeOut: 1000 });
                }else{
                   if(@(Model.TongTien) !== 0){
                       $("#tichdiemhd").text("");
                       $("#tdhd").css('display', 'none');
                       $('#tientrutichdiem').text(Intl.NumberFormat().format(tien));
                   }else{
                       $(this).val('');
                   }
                }
            }else if(@(ViewBag.LoaiQDD) === 2){ // Vừa tích vừa tiêu
                if(diem < 0){
                    toastr.error('Số điểm nhập không hợp lệ', "Error Alert", { timeOut: 1000 });
                    $('#tientrutichdiem').text(0);
                }
                else if(@(Model.TongTien) !== 0){
                    if(diem > diemtoida){
                        $('#tientrutichdiem').text(0);
                        toastr.error('Số điểm vượt quá số điểm tối đa cho phép', "Error Alert", { timeOut: 1000 });
                    }
                    else if(diem > @(Model.DiemKH)){
                        toastr.error('Số điểm không đủ', "Error Alert", { timeOut: 1000 });
                    }else{
                        $('#tientrutichdiem').text(Intl.NumberFormat().format(tien));
                    }
                }else{
                    //toastr.error('Chưa có sản phẩm thanh toán', "Error Alert", { timeOut: 1000 });
                }
            }
            TinhTien();
        })
    })
    //    // Hiện nhập voucher
    //    $("#btn-showvoucher").on("click", function() {
    //      var voucherInput = $("#voucherinput");
    //      if (voucherInput.css('display') === 'none') {
    //        voucherInput.css('display', 'block');
    //        $(this).text('Hủy áp dụng');
    //      } else {
    //        voucherInput.css('display', 'none');
    //        $("#idvoucher").text('');
    //        $("#tienkhuyenmai").css('display', 'none');
    //        $("#giatrivoucher").text('');
    //        $("#valuevoucher").val('');
    //        $("#vldvoucher").text('');
    //        $(this).text('Nhập voucher');
    //      }
    //      TinhTien();
    //    });
    //    //Áp dụng voucher
    //    $("#usevoucher").on("click",function(){
    //        var tongtien = @Model.TongTien;
    //        var value = $("#valuevoucher").val();
    //        if(value ===''){
    //                toastr.error("Chưa nhập voucher áp dụng", "Error Alert", { timeOut: 1000 });
    //        }else{
    //            $.ajax({
    //            url: "/BanHangTaiQuay/CheckVoucher",
    //            type: "GET",
    //            data:{
    //            voucher: value,
    //            ttien:tongtien,
    //            idkh: '@Model.IdKhachHang',
    //            },
    //            dataType: "json",
    //            success: function(response) {
    //                if(response.success === true){
    //                    toastr.success(response.message, "Success Alert", { timeOut: 1000 });
    //                    $("#idvoucher").text(response.idvoucher);
    //                    $("#tienkhuyenmai").css('display', 'block');
    //                    $("#giatrivoucher").text(response.giatri.toLocaleString());
    //                }else{
    //                    toastr.error(response.message, "Error Alert", { timeOut: 1000 });
    //                    $("#idvoucher").val('');
    //                    $("#tienkhuyenmai").css('display', 'none');
    //                    $("#giatrivoucher").text('');
    //                }
    //                TinhTien();
    //            }
    //            ,
    //            error: function(response){
    //                toastr.error(response.message, "Error Alert", { timeOut: 1000 });
    //            },
    //            });
    //        }
    //    })
    //})
        //Chọn PTTT
        function chonPTTT(){
            var pttt = $('input[name="pttt"]:checked').val();
            if(pttt === "Tiền mặt"){
                $("#tienmat").css('display', 'block');
                $("#tienmattrakhach").css('display', 'block');
                $("#khachdua").val('');
                $("#tientrakhach").text('');
            }else{
                $("#tienmattrakhach").css('display', 'none');
                $("#tienmat").css('display', 'none');
                $("#khachdua").val('');
                $("#tientrakhach").text('');
            }
            TinhTien();
        }
        function khachDua(value){
            if(value > 1000000000){
                toastr.error("Số tiền bạn nhập vào quá lớn", "Error Alert", { timeOut: 1000 });
                $("#tientrakhach").text('');
            }else{
                let cantra = $("#khachCanTra").text() === '' ? '' : $("#khachCanTra").text().replaceAll('.', '');
                cantra = cantra.replaceAll(',', '');
                let tientra = value - cantra;
                $("#tientrakhach").text(Intl.NumberFormat().format(tientra));
            }
        }
        //Chọn voucher
        function checkVoucher(){
           var idvoucher = $('input[name="radiovoucher"]:checked').attr('id');
           var tongtien = @Model.TongTien;
           var khachtra = $("#khachCanTra").text().replaceAll(',','');
           khachtra = parseInt(khachtra.replaceAll('.',''));
           
           $.ajax({
                url: "/BanHangTaiQuay/CheckVoucher",
                type: "GET",
                data:{
                idvoucher: idvoucher,
                ttien:tongtien,
                },
                dataType: "json",
                success: function(response) {
                   
                    if(response.success === true){
                        if(parseInt(response.giatri) - khachtra < 0){
                            toastr.success(response.message, "Success Alert", { timeOut: 1000 });
                            $("#idvoucher").text(response.idvoucher);
                            $("#tienkhuyenmai").css('display', 'block');
                            $("#giatrivoucher").text(Intl.NumberFormat().format(response.giatri));
                        }else{
                            
                            toastr.error('Khuyến mãi vượt quá quy định', "Success Alert", { timeOut: 1000 });
                            $("#idvoucher").val('');
                            $("#tienkhuyenmai").css('display', 'none');
                            $("#giatrivoucher").text('');
                        }
                    }else{
                        toastr.error(response.message, "Error Alert", { timeOut: 1000 });
                        $("#idvoucher").val('');
                        $("#tienkhuyenmai").css('display', 'none');
                        $("#giatrivoucher").text('');
                    }
                    TinhTien();
                }
                ,
                error: function(response){
                    toastr.error(response.message, "Error Alert", { timeOut: 1000 });
                },
            });
        }

        //Tính tiền
       function TinhTien() {
            var tt = @Model.TongTien;
            
            $("#tongTienHang").text(Intl.NumberFormat().format(tt));
            var trutd = $("#tientrutichdiem").text() === '' ? '' : $("#tientrutichdiem").text().replaceAll('.', '');
            var voucher = $("#giatrivoucher").text() === '' ? '' : $("#giatrivoucher").text().replaceAll('.', '');
            trutd = trutd.replaceAll(",", "");
            voucher = voucher.replaceAll(",", "");
            var tienkhachtra = tt - trutd - voucher;
            if(tienkhachtra > 0){
                $("#khachCanTra").text(Intl.NumberFormat().format(tienkhachtra));
                 $("#khachdua").val();
                 khachDua($("#khachdua").val());
            }else{
                $("#khachCanTra").text(0);
                 $("#khachdua").val();
                 khachDua($("#khachdua").val());
            }
       }
</script>