@using AppData.Models
@using AppData.ViewModels
@using Newtonsoft.Json
@{
    ViewData["Title"] = "BanHang";
    <script src="~/Admin/js/bantaiquay.js" defer></script>
    var lsthdcho = ViewData["lsthdcho"] as List<HoaDon>;
    // var lstPttt = ViewData["lstPttt"] as List<PhuongThucThanhToan>;

    var loginInfor = new LoginViewModel();
    string? session = Context.Session.GetString("LoginInfor");
    if (session != null)
    {
        loginInfor = JsonConvert.DeserializeObject<LoginViewModel>(Context.Session.GetString("LoginInfor"));
    }
    <style>
        #resultsp {
            position: absolute;
            width: 100%;
            max-width: 400px;
            cursor: pointer;
            overflow-y: auto;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
            padding-top: 20px;
            background:#e1e3e6!important;
            display:none;
        }

        #sptk{
             background: #fff;
        }
        #sptk:hover {
            border: 2px solid #4154f1;
            background: #cce2fd;
            border-radius: 5px;
        }
    </style>
}

<div class="d-flex flex-row align-items-stretch" style="background: #f0f1f3">
    <!--Hiển thị giỏ hàng-->
    <div class="d-flex flex-column align-items-stretch flex-grow-1">
        <div class="d-flex flex-row bg-primary text-white w-100 flex-shrink-1" style="background:#5372F0;height:50px;">
            <!--Hiển thị danh sách hóa đơn chờ-->
            <div class="tabbill">
                <div class="icon me-auto"><i id="left" class="fa-solid fa-angle-left"></i></div>
                @if (lsthdcho != null)
                {
                    <ul class="tabs-box">
                        @{
                            var index = 1;
                            foreach (var item in lsthdcho)
                            {
                                if (item.TrangThaiGiaoHang == 1)
                                {
                                    <li class="tab" onclick="gethdct('@item.ID')">
                                        <span value="@item.ID">
                                            <a>Hoá đơn @index</a>
                                            <a style="padding-left: 10px;" onclick="deleteHDCho('@item.ID')"><i class="fas fa-times"></i></a>
                                        </span>
                                    </li>
                                    index++;
                                }
                                else
                                {
                                    <li class="tab" onclick="gethdct('@item.ID')">
                                        <span value="@item.ID">
                                            <a>@item.GhiChu</a>
                                            <a style="padding-left: 10px;" onclick="deleteHDCho('@item.ID')"><i class="fas fa-times"></i></a>
                                        </span>
                                    </li>
                                }

                            }
                        }
                    </ul>
                }
                <div class="icon ms-auto"><i id="right" class="fa-solid fa-angle-right"></i></div>
            </div>
            <!--Tạo mới-->
            <div class="ms-auto align-content-center">
                <div class="btn-create d-flex align-items-center">
                    <button type="button" onclick="addHDCho()" class="btn btn-success d-flex align-items-center ms-auto" title="Thêm mới">
                        <span>Tạo hóa đơn</span>
                        <i class="bi bi-plus-circle ms-2"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Hiển thị hóa đơn chi tiết-->
        <div class="d-flex flex-column p-2 mx-3 mt-3 border-0 rounded-3 flex-grow-1 bg-white" style="height:640px;">
            <div class="d-flex flex-column p-2">
                <div id="partialGioHang">
                </div>
            </div>
        </div>
    </div>
    <!--Sản phẩm-->
    <div class="d-flex flex-column align-items-stretch">
        <!--Tìm kiếm sản phẩm-->
        <div class="d-flex flex-row bg-primary text-white w-100" style="height:50px;">
            <div class="d-flex justify-content-start">
                <div class="search-product d-flex align-items-center">
                    <div class="search-bar">
                        <form class="search-form d-flex align-items-center">
                            <input type="text" name="query" autocomplete="off" id="searchsp" placeholder="Tìm kiếm sản phẩm" title="Enter search keyword">
                            <button title="Tìm kiếm" style="pointer-events:none"><i class="bi bi-search"></i></button>
                        </form>
                        <div>
                            <ul class="list-group p-2 bg-light mt-2" id="resultsp">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Quét QR-->
            <div class="d-flex align-content-center">
                <div class="d-flex align-items-center">
                    <button type="button" onclick="scanQRCode()" class="btn btn-primary d-flex align-items-center ms-auto" title="Quét mã vạch">
                        <i class="bx bx-barcode-reader"></i>
                    </button>
                </div>
            </div>
            <!--Lọc-->
            <div class="d-flex me-auto align-content-center">
                <div class="btn-filter d-flex align-items-center">
                    <button type="button" onclick="showFilter()" class="btn btn-primary d-flex align-items-center ms-auto" title="Lọc sản phẩm">
                        <i class="bx bx-filter-alt"></i>
                    </button>
                </div>
            </div>
            <!--Sắp xếp-->
            @*<div class="d-flex flex-column justify-content-center p-1 w-100" style="font-size:14px; ">
                <div class="form-check form-switch bg-white rounded-5">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Tăng</label>
                </div>
                </div>*@
        </div>
        <!--Hiển thị sản phẩm-->
        <div class="d-flex flex-column p-2  mt-3 border-0 rounded-3 bg-white" style="height:640px">
            <ul class="product-list">
            </ul>
            <div class="d-flex flex-row bg-light mt-auto" style="justify-content:center">
                <ul id="pagingsp" class="pagination"></ul>
            </div>
        </div>
    </div>
</div>
<!--MODEL-->
<!--Model QRCode-->
<div class="modal border-0 rounded-0" id="scanqrcode" tabindex="-1">
    <div class="modal-dialog" id="modalscanqrcode">
        <div class="modal-content" id="modalscanqrcode-content">
            <div class="modal-body" id="scanqrcodebody">
            </div>
        </div>
    </div>
</div>
<!--Model lọc-->
<div class="modal border-0 rounded-0" id="locsp" tabindex="-1">
    <div class="modal-dialog" id="modallocsp">
        <div class="modal-content" id="modallocsp-content">
            <div class="modal-body" id="locspbody">
            </div>
        </div>
    </div>
</div>

<!--Model thanh toán -->
<div class="modal border-0 rounded-0" id="thanhtoan" tabindex="-1">
    <div class="modal-dialog" id="modalthanhtoan">
        <div class="modal-content" id="modalthanhtoan-content">
            @* <div class="modal-header bg-primary">
                <h5 class="modal-title fw-700 text-white align-center">THANH TOÁN </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>*@
            <div class="modal-body" id="thanhtoanbody">
            </div>
        </div>
    </div>
</div>
<!--Model sản phẩm-->
<div class="modal border-0 rounded-0" id="sanpham" tabindex="-1">
    <div class="modal-dialog" id="modalsanpham">
        <div class="modal-content" id="modalsanpham-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title fw-700 text-white align-center">Chi tiết sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="sanphambody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ qua</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/html5-qrcode"></script>
<script>
    var pageSizesp = 10;// Tối đa 10sp 1 trang
    var pageIndexsp = 1;//Trang ban đầu
    $(document).ready(function () {
        loadsp();
        //if (@lsthdcho.Count == 0) {
        //    addHDCho();
        //}
        activeTab(0);
        $(function () {
            $(document).on("click", ".tab", function (e) {
                e.preventDefault();
                $(".tab").removeClass("active");
                $(this).addClass("active");
            });
        });
        $("#resultsp").css("display","none");
    })
    //TabActive
    function activeTab(index) {
        var allTabs = $(".tabs-box .tab");
        if (allTabs.length !== 0 && index == 0) {
            var tab = allTabs.first();
            var elementValue = tab.find("span").attr("value");
            gethdct(elementValue);
            tab.addClass("active");
        } else if (index == 1) {
            var tab = allTabs.last();
            var elementValue = tab.find("span").attr("value");
            gethdct(elementValue);
            tab.addClass("active");
        }
    }

    //LoadDSSanPham
    function loadsp() {
        $.ajax({
            url: "/BanHangTaiQuay/LoadSp",
            type: "GET",
            data: {
                page: pageIndexsp,
                pagesize: pageSizesp,
            },
            dataType: "json",
            success: function (response) {
                $(".product-list").empty();
                for (let i = 0; i < response.data.length; i++) {
                    $(".product-list").append(`
                                                            <li class="product-item d-flex flex-row" onclick="showSPDetail('${response.data[i].id}')">
                                                                    <div class="product-img">
                                                                        <img src="/img/product/${response.data[i].anh}" class="img-fluid rounded-start" alt="..." style="width:70px;height:80px">
                                                                    </div>
                                                                    <div class="product-detail d-flex flex-column flex-grow-1">
                                                                        <span class="product-name mt-1">${response.data[i].ten}</span>
                                                                        <div class="product-infor mt-auto">
                                                                            <span style="flex-basis:100%"><b style="color:blue;font-size:14px; font-weight:700">${Intl.NumberFormat().format(response.data[i].giaBan)}</b></span>

                                                                        </div>
                                                                    </div>
                                                            </li>
                                                            `);
                }
                pagingsp(response.total, function () {
                    loadsp();
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    }
    //Phân trang sp
    function pagingsp(totalrow, callback) {
        var totalgages = Math.ceil(totalrow / pageSizesp);
        $("#pagingsp").twbsPagination({
            totalPages: totalgages,
            visiblePages: 5,
            startPage: 1,
            first: 'Đầu',
            last: 'Cuối',
            prev: 'Trước',
            next: 'Tiếp',
            onPageClick: function (event, page) {
                pageIndexsp = page;
                setTimeout(callback, 200);
            }
        });
    }
    //LOAD DANH SÁCH HOA DON CHO
    async function loadHDCHO(callback) {
        try {
            const data = await $.ajax({
                url: "https://localhost:7095/api/HoaDon/GetAllHDCho",
                type: "GET",
                dataType: "json"
            });
            $(".tabs-box").empty();
            //if (data.length === 0) {
            //    addHDCho();
            //}
            for (let i = 0; i < data.length; i++) {
                const item = data[i];
                const itemID = item.id;
                const index = i + 1;
                if(item.trangThaiGiaoHang === 1){
                    $(".tabs-box").append(`
                        <li class="tab" onclick="gethdct('${itemID}')">
                            <span value="${itemID}">
                            <a>Hoá đơn ${index}</a>
                            <a style="padding-left: 10px;" onclick="deleteHDCho('${itemID}')" title="Xóa"><i class="fas fa-times"></i></a>
                            </span>
                        </li>
                        `);
                }else{
                    $(".tabs-box").append(`
                        <li class="tab" onclick="gethdct('${itemID}')">
                            <span value="${itemID}">
                            <a>${item.ghiChu}</a>
                            <a style="padding-left: 10px;" onclick="deleteHDCho('${itemID}')" title="Xóa"><i class="fas fa-times"></i></a>
                            </span>
                        </li>
                        `);
                };
            }
            setTimeout(callback, 50);
        } catch (error) {
            console.log('Error:', error);
        }
    }
    //THÊM HÓA ĐƠN CHỜ
    function addHDCho() {
        $.ajax({
            url: "/BanHangTaiQuay/AddHDCho",
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                if(response.success == true){
                    loadHDCHO(function () {
                        activeTab(1);
                    });
                }else{
                     toastr.error(response.message, "Error Alert", { timeOut: 1000 });
                }
            },
            error: function (response) {
                toastr.error('Thêm thất bại', "Error Alert", { timeOut: 1000 });
            }
        });
    }
    //Xóa hóa đơn chờ
    function deleteHDCho(idhd) {
        var ans = confirm("Bạn có chắc chắn xóa Đơn Nháp này?");
        if (ans) {
            $.ajax({
                url: "https://localhost:7095/api/HoaDon/deleteHoaDon/" + idhd,
                type: "DELETE",
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    $("#partialGioHang").empty();
                    loadHDCHO(function () {
                        activeTab(0);
                    });
                    loadsp();
                },
                error: function (response) {
                    toastr.error('Xóa thất bại', 'Error Alert', { timeOut: 300 });
                }
            });
        }
    }
    //Thêm SP vào Hóa đơn
    function addCTSP(idctsp) {
        var activeTab = $(".tabs-box .tab").filter(".active");
        var elementValue = activeTab.find("span").attr("value");
        var request = { IdHoaDon: elementValue, IdChiTietSanPham: idctsp,  SoLuong: 1 }
        $.ajax({
            url: "/BanHangTaiQuay/addHdct",
            async: false,
            type: 'POST',
            dataType: 'json',
            data: request,
            success: function (response) {
                if (response.success === true) {
                    toastr.success(response.message, "Success Alert", { timeOut: 1000 });
                    gethdct(request.IdHoaDon);
                    FilterPL();
                } else {
                    toastr.error(response.message, 'Error Alert', { timeOut: 1000 });
                }
            },
            error: function (response) {
                toastr.error(response.message, 'Error Alert', { timeOut: 1000 });
            }
        });
    }
    //LAY HOA DON CHI TIET THEO IDHOADON

    function gethdct(idhd) {
        $("#partialGioHang").load("/BanHangTaiQuay/getCTHD/" + idhd);
    }

    //Xóa HDCT
    function deleteHDCT(idcthd, idhd) {
        $.ajax({
            url: "/BanHangTaiQuay/deleteHdct/" + idcthd,
            async: false,
            type: 'DELETE',
            dataType: 'json',
            success: function (response) {
                gethdct(idhd)
            },
            error: function (response) {
                alert("Xóa thất bại");
            }
        });
    }

    //Mở chi tiết sản phẩm
    function showSPDetail(idsp) {
        $("#sanphambody").load("/BanHangTaiQuay/ShowSPDetail/" + idsp);
        $("#sanpham").modal("show");
    }

    //Thanh toán chuyển trạng thái
    function thanhToan(id) {
        var ttien = $("#khachCanTra").text().replaceAll('.', '');
        ttien = parseInt(ttien.replaceAll(',', ''));
        var pttt = $('input[name="pttt"]:checked').val();
        var khachdua = $("#khachdua").val();
        //else if (ttien <= 0) {
        //    toastr.error('Phiếu hàng đang trống', 'Error Alert', { timeOut: 300 });
        //}

        if (ttien < 0) {
            toastr.error('Số tiền thanh toán không hợp lệ', 'Error Alert', { timeOut: 300 });
        }else if(khachdua < ttien && pttt === "Tiền mặt"){
            toastr.error('Khách chưa thanh toán đủ tiền hàng', 'Error Alert', { timeOut: 300 });
        }else {
            var pttt = $('input[name="pttt"]:checked').val();
            var idvoucher = $("#idvoucher").text();
            var tichdiemhd = $("#tichdiemhd").text();
            var tichdiemsd = $('#diemKHSD').val();
            if ($('#tientrutichdiem').text() === 0 || $('#tientrutichdiem').text() === '') {
                tichdiemsd = 0;
            };
            var request = { Id: id, PTTT: pttt, IdNhanVien: '@loginInfor.Id', IdVoucher: idvoucher, TongTien: ttien, DiemTichHD: tichdiemhd, DiemSD: tichdiemsd };
            $.ajax({
                url: "/BanHangTaiQuay/ThanhToan",
                async: false,
                type: 'POST',
                dataType: 'json',
                data: request,
                success: function (response) {
                    $("#thanhtoan").modal("hide");
                    $("#partialGioHang").empty();
                    toastr.success('Thanh toán thành công', "Success Alert", { timeOut: 300 });
                    InHD(id);
                    loadHDCHO(function () {
                        activeTab(0);
                    });
                },
                error: function (response) {
                    toastr.error('Thanh toán thất bại', 'Error Alert', { timeOut: 300 });
                }
            });
        }
    }
    //Mở modal scan QRcode
    function scanQRCode() {
        $("#scanqrcodebody").load("/BanHangTaiQuay/ScanQRCode");
        $("#scanqrcode").modal("show");
    }
    //Mở modal lọc sản phẩm
    function showFilter() {
        $("#locspbody").load("/BanHangTaiQuay/ShowFilterSP");
        $("#locsp").modal("show");
    }
    //Sắp xếp
    $("#select-sapxep").on("click", function () {
        $(this).toggleClass("open");
    });
    //Tìm kiếm sản phẩm
    $("#searchsp").keyup(function () {
        var keyword = $("#searchsp").val();
        if (keyword !== '') {
            $("#resultsp").empty();
            $.ajax({
                type: "GET",
                url: "/BanHangTaiQuay/Search/" + keyword,
                dataType: 'json',
                success: function (response) {
                    if(response.data.length > 0){
                        $("#resultsp").css("display","block");
                        for (let i = 0; i < response.data.length; i++) {
                            const item = response.data[i];
                            $("#resultsp").append(`
                                        <li id="sptk" onclick="showSPDetail('${item.id}')">
                                            <div class="d-flex align-items-center p-1">
                                                <div class="flex-shrink-0">
                                                    <img src="/img/product/${item.anh}" style="height:80px; width:70px;" alt="...">
                                                </div>
                                                <div class="flex-grow-1 ms-3 text-dark">
                                                    <span class="product-name mt-1">${item.ten}</span>
                                                    <div class="product-infor mt-auto">
                                                        <span style="flex-basis:100%"><b style="color:blue;font-size:14px; font-weight:700">${Intl.NumberFormat().format(item.giaBan)}</b></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    `);
                            }
                    }else{
                        $("#resultsp").empty();
                        $("#resultsp").css("display","none");
                    }
                },
                error: function (response) {
                     $("#resultsp").empty();
                     $("#resultsp").css("display","none");
                }
            });
        } else {
            $("#resultsp").empty();
            $("#resultsp").css("display","none");
        }
    });
    //Chuyển trang quản lý hóa đơn
    $("#hoadon-tab").on("click", function () {
        $.ajax({
            url: "/BanHangTaiQuay/QuanLyHD",
            method: "GET",
            success: function (result) {
                $('.dshoadon').html(result);
            },
        })
    });
    //In hóa đơn
    function InHD(idhd) {
        $.ajax({
            url: "/QuanLyHoaDon/PrintHD/" + idhd,
            type: 'GET',
            success: function (data) {
                // Tạo một iframe ẩn trong trang hiện tại
                var iframe = document.createElement('iframe');
                iframe.style.display = 'none';
                document.body.appendChild(iframe);

                // Đặt nội dung của partial view vào iframe
                var iframeDoc = iframe.contentDocument || iframe.contentWindow.document;
                iframeDoc.open();
                iframeDoc.write(data);
                iframeDoc.close();

                // Kích hoạt hộp thoại in cho iframe
                iframe.contentWindow.print();
            }
        });
    }
</script>
