@using AppData.ViewModels.BanOffline
@model List<HoaDonChiTietViewModel>

@{
    ViewData["Title"] = "GioHang";
}
<div class="cthd">
    @{
        var index = 1;
        var tsl = 0;
        var ttien = 0;
    }

    <div class="cart">
        @foreach (var item in Model)
        {
            <div class="cart-item">
                <div class="cell-order">@index</div>
                <div class="cell-active">
                    <button class="btn" onclick="deleteHDCT('@item.Id','@item.IdHoaDon','@item.IDBienThe','@item.SoLuong')">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <div class="cell-content">
                    <div class="cell-content-top">
                        <div class="cell-code">Mã sản phẩm</div>
                        <div class="cell-name">@item.Ten</div>
                    </div>
                    <div class="cell-content-bottom">
                        <div class="cell-quantity">
                            <input type="number" style="width:90px" value="@item.SoLuong">
                        </div>
                        <div class="cell-changeprice">@item.DonGia.ToString("n0")</div>
                        <div class="cell-changeprice"><b>@((item.DonGia*item.SoLuong).ToString("n0"))</b></div>
                    </div>
                </div>
                <div class="cell-add">
                    <button class="btn">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            index++;
            tsl += @item.SoLuong;
            ttien += (@item.SoLuong * @item.DonGia);
        }
    </div>

    <div class="row" style="margin-top:30px; font-size:15px">
        <div class='col-6'>
            <input class="form-control" type="text" placeholder="Ghi chú đơn hàng" />
        </div>
        <div class='col-1'>
            <p>SL: @tsl </p>
        </div>
        <div class='col-3'>
            <p>Tổng tiền hàng: </p>
        </div>
        <div class='col-2'>
            <p style="text-align:right; padding-right:20px">@ttien.ToString("n0")</p>
        </div>
    </div>

    <div class="row" style="margin-top:5px">
        <button class="btn btn-primary btn-block" data-target="#mycheckOut" data-toggle="modal">Thanh toán</button>
    </div>
</div>
<script type="text/javascript">
    function loadData(idhd){
        $('.cthd').load("/BanHangTaiQuay/getCTHD/" + idhd);
    }
    function deleteHDCT(idcthd,idhd,idbt,soluong){
      var request = {Id:idcthd,IdBienThe: idbt, SoLuong :soluong}
      console.log(request);
      $.ajax({
          url: "/BanHangTaiQuay/deleteHdct",
          async: false,
          type: 'DELETE',
          dataType: 'json',
          data:request,
          success: function(response) {
              alert("Xóa thành công r bạn");
          },
          error: function(response) {
              alert("Xóa thất bại");
          }
      });
    }

</script>

