@using AppData.ViewModels.BanOffline
@model List<HoaDonChiTietViewModel>

@{
    ViewData["Title"] = "GioHang";
}
<div class="cthd d-flex flex-column flex-grow-1 h-100">
    @{
        var index = Model.Count;
        var tsl = 0;
        var ttien = 0;
    }

    <div class="d-flex flex-column mb-2 p-2 overflow-auto" style="scrollbar-width: thin;scrollbar-color: #aab7cf transparent;">
        @foreach (var item in Model)
        {
            <div class="cart-item p-2">
                <div class="cell-order">@index</div>
                <div class="cell-active">
                    <button class="btn" onclick="deleteHDCT('@item.Id','@item.IdHoaDon','@item.IDChiTietSanPham','@item.SoLuong')">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <div class="cell-content">
                    <div class="cell-content-top">
                        <div class="cell-code">Mã sản phẩm</div>
                        <div class="cell-name">@item.Ten</div>
                    </div>
                    <div class="cell-content-bottom">
                        <div class="cell-quantity">
                            <input type="number" style="width:90px" value="@item.SoLuong">
                        </div>
                        <div class="cell-changeprice">@item.DonGia.ToString("n0")</div>
                        <div class="cell-changeprice"><b>@((item.DonGia*item.SoLuong).ToString("n0"))</b></div>
                    </div>
                </div>
                <div class="cell-add">
                    <button class="btn">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            index--;
            tsl += @item.SoLuong;
            ttien += (@item.SoLuong * @item.DonGia);
        }
    </div>

    <div class="d-flex flex-row mt-auto p-2 justify-content-center" style="font-size:18px;background:#e8eaed">
        <div class="flex-fill">
            <b>SL: </b>
        </div>
        <div class="flex-fill">
            <b id="tsl">@tsl</b>
        </div>
        <div class="flex-fill">
            <b >Tổng tiền hàng: </b>
        </div>
        <div class="justify-content-end">
            <b style="text-align:right; padding-right:70px"><b id="tongtienhang">@ttien.ToString("n0")</b></b>
        </div>
    </div>
</div>
<script type="text/javascript">
    

</script>

