@using AppData.Models
@model AppData.ViewModels.BanOffline.HoaDonViewModelBanHang


@{
    ViewData["Title"] = "GioHang";
    <style>
        #result {
            position: absolute;
            width: 100%;
            max-width: 360px;
            cursor: pointer;
            overflow-y: auto;
            max-height: 400px;
            box-sizing: border-box;
            z-index: 1001;
            padding-top: 20px;
        }
    </style>
}
<div class="d-flex flex-row align-items-center" style="background:#e8eaed">
    <div class="flex-fill ms-2 me-0">
        <input value="@Model.Id" id="IDHD" hidden />
        <span>Mã HD: <b>@Model.MaHD</b> </span>
    </div>
    <div class="search-product d-flex align-items-center">
        <div class="search-bar">
            <form class="search-form d-flex align-items-center">
                <input type="text" name="search" style="outline: none;" id="search" value="@Model.TenKhachHang" placeholder="Tìm kiếm khách hàng theo tên, SĐT">
                <button type="button" title="Thêm mới khách hàng" data-bs-toggle="modal" data-bs-target="#themkhachhang"><i class="fa-regular fa-plus" style="color: #a6a8ab;"></i></button>
            </form>
            <div>
                <ul class="list-group pt-2" id="result"></ul>
            </div>
        </div>
    </div>
    <div class="search-product d-flex align-items-center flex-grow-1 ms-2">
        <div class="d-lex flex-row me-3" style="width:100%">
            <div class="search-form d-flex flex-grow-1 align-items-center">
                <input type="text" id="ghichu" placeholder="Nhập ghi chú" style="width:100%">
            </div>
        </div>
    </div>
</div>
<!--Model Thêm nhanh khách hàng-->
<div class="modal" id="themkhachhang" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-600">Thêm khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-12">
                        <label for="inputName5">Tên khách hàng</label>
                        <input type="text" class="form-control" id="inputTenKhachHang" required>
                    </div>
                    <div class="col-md-12">
                        <label for="inputPassword5">Điện thoại</label>
                        <input type="number" class="form-control" id="inputSDT" required>
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail5">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>

                    <div class="col-12">
                        <label for="inputAddress5">Địa chỉ</label>
                        <input type="text" class="form-control" id="inputDiaChi" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="inputCity">Ngày sinh</label>
                        <input type="date" class="form-control" id="inputNgaySinh">
                    </div>
                    <div class="col-6">
                        <label for="inputState">GioiTinh</label>
                        <fieldset class="d-flex flex-row mb-3 p-2">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gioitinh" value="1" value="option1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Nam
                                </label>
                            </div>
                            <div class="form-check ms-3">
                                <input class="form-check-input" type="radio" name="gioitinh" value="0" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Nữ
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ qua</button>
                        <button id="btn-saveKH" type="button" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="cthd d-flex flex-column flex-grow-1 h-100">
    @{
        var index = Model.lstHDCT.Count;
        var tsl = 0;
        var ttien = 0;
    }

    <div class="d-flex flex-column mb-2 p-2 overflow-auto scroll-cthd">
        @foreach (var item in Model.lstHDCT)
        {
            <div class="cart-item p-2">
                <div class="cell-order">@index</div>
                <div class="cell-active">
                    <button class="btn" onclick="deleteHDCT('@item.Id','@item.IdHoaDon','@item.IDChiTietSanPham','@item.SoLuong')">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
                <div class="cell-content">
                    <div class="cell-content-top">
                        <div class="cell-code">Mã sản phẩm</div>
                        <div class="cell-name">@item.Ten</div>
                    </div>
                    <div class="cell-content-bottom">
                        <div class="cell-quantity">
                            <input type="number" style="width:90px" value="@item.SoLuong">
                        </div>
                        <div class="cell-changeprice">@item.DonGia.ToString("n0")</div>
                        <div class="cell-changeprice"><b>@((item.DonGia*item.SoLuong).ToString("n0"))</b></div>
                    </div>
                </div>
                <div class="cell-add">
                    <button class="btn">
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </div>
            </div>
            index--;
            tsl += @item.SoLuong;
            ttien += (@item.SoLuong * @item.DonGia);
        }
    </div>

    <div class="d-flex flex-row mt-auto p-2 justify-content-center" style="font-size:18px;background:#e8eaed">
        <div class="flex-fill">
            <b>SL: </b>
        </div>
        <div class="flex-fill">
            <b id="tsl">@tsl</b>
        </div>
        <div class="flex-fill">
            <b>Tổng tiền hàng: </b>
        </div>
        <div class="justify-content-end">
            <b style="text-align:right; padding-right:70px"><b id="tongtienhang">@ttien.ToString("n0")</b></b>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.ajaxSetup({ cache: false });
        $('#search').keyup(function(){
            $('#result').html('');
            $('#state').val('');
            var searchField = $('#search').val();
            var expression = new RegExp(searchField, "i");
            $.getJSON(`https://localhost:7095/api/KhachHang`, function(data) {
                $.each(data, function(key, value){
                    if (value.sdt.search(expression) != -1 || value.ten.search(expression) != -1)
                    {
                        $('#result').append('<li class="list-group-item link-class"><input value="'+value.idKhachHang+'" hidden />'+value.ten+' | <span class="text-muted">'+value.sdt+'</span></li>');
                    }
                });
            });
        });
       

        $('#result').on('click', 'li', function() {
            var click_text = $(this).text().split('|');
            var id = $(this).find("input").val();
            suaKhachHang(id);
            $('#search').val($.trim(click_text[0]));
            $("#result").html('');
        });
    });
    
    //Thêm nhanh khách hàng
        $("#btn-saveKH").on("click",function(){
        var tenkh = $("#inputTenKhachHang").val();
        var sdt = $("#inputSDT").val();
        var email = $("#inputEmail").val();
        var dchi = $("#inputDiaChi").val();
        var dob = $("#inputNgaySinh").val();
        var gtinh = $('input[name="gioitinh"]:checked').val();
        var idhd = $("#IDHD").val();
        var khachHang = {IDKhachHang: idhd, Ten: tenkh, GioiTinh: gtinh, NgaySinh: dob, Email: email, DiaChi: dchi, SDT: sdt, Password: 123456};
        $.ajax({
                url: "/BanHangTaiQuay/AddKhachHang",
                async: false,
                type: 'POST',
                dataType: 'json',
                data:khachHang,
                success: function(response) {
                    gethdct(idhd);
                    $("#themkhachhang").modal("hide");
                    toastr.success('Thêm khách hàng thành công', "Success Alert", {timeOut : 300});
                },
                error: function(response) {
                    toastr.error('Thêm khách hàng thất bại', 'Error Alert', { timeOut: 300 });
                }
        });
    })
</script>

