@model AppData.ViewModels.LoginViewModel
@{
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    #chonNgaySinh input {
        position: relative;
        width: 250px;
        height: 20px;
        color: white;
    }

        #chonNgaySinh input:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: attr(my-date);
            display: inline-block;
            color: black;
        }
</style>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">Thông tin cá nhân</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 id="tenanh" class="my-3">@Model.Ten</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" onclick="doiMatKhau()" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body" style="padding: 1.25rem;">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tên</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="ten" style="border:none;width: 100%; background: white;" type="text" value="@Model.Ten" maxlength="30" disabled />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="email" style="border:none;width: 100%; background: white;" type="text" value="@Model.Email" maxlength="50" disabled />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">SDT</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="sdt" style="border:none;width: 100%; background: white;" type="text" value="@Model.SDT" maxlength="20" disabled />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Địa chỉ</p>
                            </div>
                            <div class="col-sm-9">
                                <input id="diaChi" style="border:none;width: 100%; background: white;" type="text" value="@Model.DiaChi" maxlength="50" disabled />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Vai trò</p>
                            </div>
                            <div class="col-sm-3">
                                <input style="border:none;width: 100%; background: white;" type="text" id="VaiTro1" value="Admin" disabled />
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <button id="Sua" type="button" onclick="SuaThongTinCN()" style="background-color: gray; border: none;" class="btn btn-primary">Sửa thông tin cá nhân</button>
                    <button id="Luu" onclick="LuuThongTin()" style="display:none;" type="button" class="btn btn-primary">Lưu thông tin cá nhân</button>
                </div>

            </div>
        </div>
    </div>
</section>
<div class="modal border-0 rounded-0 fade" id="doimatkhau" tabindex="-1">
    <div class="modal-dialog" id="doimatkhau-dialog">
        <div class="modal-content" id="doimatkhau-content">
            <div class="modal-body" id="doimatkhaubody">
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        document.getElementById("VaiTro1").value = document.getElementById("ChucVu").innerHTML;
    });
    function LichsuTichDiem() {
        location.href = 'LichSuTieuDiemTichDiem';
    }
    function doiMatKhau() {
        $("#doimatkhaubody").load("/NhanVien/ChangePassword");
        $("#doimatkhau").modal("show");
    }
    function SuaThongTinCN() {
        var x = document.getElementById("ten").disabled;
        document.getElementById("ten").disabled = false;
        document.getElementById("email").disabled = false;
        document.getElementById("sdt").disabled = false;
        document.getElementById("diaChi").disabled = false;
        document.getElementById("Sua").style.display = "none";
        document.getElementById("Luu").style.display = "block";
    }
    function LuuThongTin() {
        var ten = document.getElementById("ten").value;
        var email = document.getElementById("email").value;
        var sdt = document.getElementById("sdt").value;
        var diachi = document.getElementById("diaChi").value;
        $.ajax({
            async: true,
            type: 'PUT',
            dataType: "json",
            data: { Ten: ten, Email: email, SDT: sdt, DiaChi: diachi },
            url: '/NhanVien/UpdateProfile',
            success: function (response) {
                if (response.success == true) {
                    toastr.success(response.message, 'Success Alert', { timeOut: 300 });
                    document.getElementById("ten").disabled = true;
                    document.getElementById("email").disabled = true;
                    document.getElementById("sdt").disabled = true;
                    document.getElementById("diaChi").disabled = true;
                    document.getElementById("Sua").style.display = "block";
                    document.getElementById("Luu").style.display = "none";
                    document.getElementById("tenanh").innerHTML = document.getElementById("ten").value;
                    document.getElementById("tenAdmin").innerHTML = document.getElementById("ten").value;
                } else {
                    toastr.error(response.message, 'Error Alert', { timeOut: 300 });
                }
            },
            error: function (response) {
                console.log(response);
                toastr.error(response.message, 'Error Alert', { timeOut: 300 });
            }
        });
    }
</script>
